<div id="leftcol" class="col-sm-12">
    <div class="leftcol_inner">
        <div class="leftcol_header">
            <h1>There was an error processing your request.</h1>
        </div>
        <div class="leftcol_content">
            <div class="clear" style="height:15px;"></div>
            <p style="color:#000; margin-left:35px;">                
                Please click the back button to return to the previous page.</p>
            <p style="color:#000; margin-left:35px;"> If this error continues, please contact customer support.</p>

            <!--<script language="javascript" type="text/javascript">
                $("#liLastDocumentLink").ready(function () {
                    try {
                        if (hasActiveDocument()) {
                            $("#liLastDocumentLink").show();
                            var newHref = "Default.aspx?id=" + getActiveDocumentId() + "&type=" + getActiveDocumentType();
                            $("#aLastDocumentLink").attr("href", newHref);
                        }
                    }
                    catch (ex) {
                        // let the link stay hidden
                    }
                });

                function linktoLastDocument() {
                }
            </script>-->
            </div>
    </div>
</div>
