<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>How To Guide</title>
    
</head>
<body>
    <div class="leftcol_inner">
        <div class="leftcol_header">
            <h1>How To Guide</h1>
        </div>
        <div class="leftcol_content clearfix">
            <div class="col-sm-3" id="top">
                <h2 class="clearfix">Help Topics</h2>
                <ul class="how-to">
                    <li><a href="#nav">Navigation</a></li>
                    <li><a href="#search">Search</a></li>
                    <li><a href="#notes">Notes</a></li>
                    <li><a href="#bookmarks">Bookmarks</a></li>
                    <li><a href="#printing">Printing</a></li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="how-to-section" id="introduction">
                    <p>The AICPA Online Professional Library offers access to all of your AICPA online subscriptions. You can search, read, scan and print any of your titles, as well as interact with your documents.</p>
                    <p>If you have any questions or concerns, please email <a href="mailto:opl@aicpa.org">opl@aicpa.org</a>.</p>
                </div>


                <!-- Start of Brightcove Player -->

                <div style="display:none">

                </div>

                <!--<object id="myExperience4378072677001" class="BrightcoveExperience">
                    <param name="bgcolor" value="#FFFFFF" />
                    <param name="width" value="480" />
                    <param name="height" value="270" />
                    <param name="playerID" value="4372435868001" />
                    <param name="playerKey" value="AQ~~,AAAAAFiQae0~,OKolxKKriBVFdgZK_Mv1pfxm93VP1dAv" />
                    <param name="isVid" value="true" />
                    <param name="isUI" value="true" />
                    <param name="dynamicStreaming" value="true" />
                    <param name="@videoPlayer" value="4378072677001" />
                    <param name="secureConnections" value="true" />
                    <param name="secureHTMLConnections" value="true" />

                </object>-->
                <video id="opl-video"
                       class="video-js"
                       width="480"
                       height="270"
                       controls
                       preload="metadata">
                    <source src="/videos/online-professional-library.mp4" type="video/mp4">
                </video>

                <div class="how-to-section" id="nav">
                    <h2>Navigation <span><a href="#top">Top<i class="fa fa-angle-up"></i></a></span></h2>
                    <p>There are many ways to navigate to content within the Online Professional Library, including direct access to subscriptions from the homepage, common navigation elements in the dark blue bar on every page, Previous/Next buttons within content, breadcrumbs and a table of contents for each document. </p>
                    <h3>Homepage</h3>
                    <p><img src="/images/homepage.png" width="400" alt="Online Professional Library homepage" align="left" class="helpSection" />The homepage is your first access to the information contained in your AICPA Online Professional Library subscription. You may return to the homepage at any time by clicking the AICPA logo at the top of any page.</p>
                    <p>The homepage header includes  common navigation elements you will find across all of the pages on the site. More information about these elements are found in the next section.</p>
                    <p>The main content of the homepage is specific to your subscriptions and includes a list of publications in your account. Start by clicking on the "+" icon of any of the main sections. From there, follow the links to subsequent levels to access content. Click the arrow next to each title to expand that title to see the the breakdown of content within, or click any title to start reading that content.</p>
                    <p>The What's New sidebar provides a summary of the latest changes to your AICPA Online Professional Library subscription in an easy-to-access list organized by product.</p>
                    <p>Additional subscriptions can be added to your account at any time by purchasing from the <a href="http://www.cpa2biz.com/search/results.jsp?N=4294967176+4294964614" target="_blank">Online Subscriptions section of the AICPA Store</a>.</p>
                    <h3>Navigation Bar</h3>
                    <p>The navigation bar in the header is made up of common elements you will find throughout the site. They include My Subscriptions, History, My Tools and Search.</p>
                    <p><img src="/images/nav-bar.png" width="400" alt="Main Navigation" align="left" class="helpSection" /><strong>My Subscriptions</strong> is a list of all publications in your account and provides easy access to all of your content from any page on the site.</p>
                    <p><strong>History</strong> provides a list of the last five documents you have accessed from your account. This decreases to the last three documents you have accessed, if you are viewing on a mobile device.</p>
                    <p><strong>My Tools</strong> includes a variety of features, including access to your notes, bookmarks, saved searches and this How To Guide. If you subscribe to FASB content, you will also see a collection of FASB-specific tools to help you navigate and find cross references in that content. </p>
                    <p>The <strong>Search</strong> bar allows you to search all content on the site. The arrow in the Search bar enables you to choose which collections you would like to search, allowing a more refined search from the start. The default is &quot;All Collections&quot; and is recommended if you are unsure which collection might have the information you seek. For more details about how to refine and broaden a search see the <a href="#search">Search</a> section of this How To Guide.</p>
                    <h3>Previous/Next Functions</h3>
                    <p><img src="/images/previous-next.png" width="200" alt="Previous and Next buttons" align="left" class="helpSection" />Once within a document, to move to the next page of a document, click on the "Next" button in the sidebar to the right of the main content. The "Previous" button takes you to the preceding page in a document. No "Next" button will display if you have reached the end of a document and no "Previous" button will display if you are at the beginning of a document. This sidebar content is persistent as you scroll through the page, so you do not need to go back to the top of the page if you would like to access these buttons.</p>
                    <p>
                        Note: "Previous" and "Next" buttons are not the same as your browser's Back and Forward buttons, which utilize your browser history to navigate to pages visited in a session.
                        <h3>Breadcrumbs</h3>
                    <p><img src="/images/breadcrumb-hover.png" width="400" alt="breadcrumb with hover" align="left" class="helpSection" />Once you have navigated to a document, breadcrumbs appear at the top of each page. The breadcrumbs represent where, in the document, you are, and provide an opportunity to move up one level or more, to see additional content in that document. As document names can be quite lengthy, each breadcrumb may be truncated, and the full title can be viewed by hovering when using a desktop or laptop device. In previous versions of the AICPA Online Professional Library, these breadcrumbs were the sole form of navigation throughout libraries. With the addition of the table of contents (below) and the homepage and main navigation, the breadcrumb functionality has been streamlined, in order to decrease load time for documents.</p>
                    <p><strong>Note:</strong> The hover state is not supported by mobile-phone and tablet browsers.</p>
                    <h3>Table of Contents</h3>
                    <p><img src="/images/toc-expanded.png" width="400" alt="expanded table of contents" align="left" class="helpSection" />Adjacent to the breadcrumb listing is a table-of-contents icon, made up of three bars against a blue background. Clicking this icon provides a full table of contents for the document you are viewing, and allows you to navigate to other parts of the document beyond the linear "back" and "next" functionality. Clicking the arrows next to each title allows you to drill down deeper into that document, while clicking the text opens the document directly. Titles without arrows do not have additional sections within. This functionality is similar to the main listing of publications on the homepage, but specific to the publication.</p>
                </div>
                <div class="how-to-section" id="search">
                    <h2>Search <span><a href="#top">Top<i class="fa fa-angle-up"></i></a></span></h2>
                    <p><img src="/images/search-bar.png" width="200" alt="Search bar" align="left" class="helpSection" />Search is an excellent way to find the content you need. The AICPA Online Professional Library includes basic and advanced search options, the ability to refine your searches in several different ways, and a saved search function.</p>
                    <h3>Basic Search</h3>
                    <p>The basic search box enables you to do single or multiple word searches. Type in the word or words relevant to the content you seek. The more specific your search terms, the more accurate your results will likely be. The basic search allows for searching through all collections, or within a specific collection of your choosing.</p>
                    <p>After hitting enter/return or clicking the "Go" button, you will be taken to a list of search results, with tools that enable you to refine or broaden your search.</p>
                    <h3>Search Results</h3>
                    <p><img src="/images/search-results-main.png" width="400" alt="Search results" align="left" class="helpSection" />The search results provide  several options to access content, as well as to refine and broaden your search parameters. The orange text at the top of the page reflects the text entered into the search box, while the gray boxes under  &quot;Search Filters&quot; allow you to see all applied filters. Text indicates how many results are displayed and you will see a page count before the actual results. You can add filters by clicking the &quot;+&quot; icon next to &quot;Add Filter&quot; and you can delete filters if your results are too narrow.</p>
                    <p>If you have created a custom search you would like to repeat in the future, click &quot;Save this search&quot; and name the search for easy retrieval in your account. You can access this search from any device used to access your account.</p>
                    <p>Searches are most effectively narrowed through keywords. The more specific (and numerous) your keywords, the more accurate your results will be. If your original search term delivered too many results, consider returning to the keyword entry in the site header, and entering a more specific term. You can use the browser's Back button to return to earlier searches.</p>
                    <p><strong>Note:</strong> the search will always include the filter &quot;AICPA Online Professional Library.&quot;</p>
                </div>
                <div class="how-to-section" id="notes">
                    <h2>Notes<span><a href="#top">Top<i class="fa fa-angle-up"></i></a></span></h2>
                    <p><img src="/images/notes-icon.png" width="20" alt="notes icon" align="left" class="helpSection" />Throughout your content in the Online Professional Library, you will see an icon that indicates the opportunity to add a note to the content. You can add one or more notes to content wherever you see this icon.</p>
                    <p><img src="/images/add-note.png" width="400" alt="add note lightbox" align="left" class="helpSection" />Simply click icon, type in a title and the body of your note, and click "Save." After you've saved a note, you will notice a "View/Edit" icon to the right of the Note icon. Clicking the Note icon again, will allow you to add another note to the same content. You can add as many notes as you wish to a content area.</p><p>
                        You have two options for viewing and editing your notes:
                        <ul>
                            <li>If you click the "View/Edit" icon you will see the list of notes you've added to that content area.</li>
                            <li>You can also view and edit all notes that you’ve saved throughout your subscription by clicking the “Tools” button and then clicking “My Notes.” You will see the title of each of your notes, as well as the location of each note. Here you can view, edit, or delete notes. Clicking a note location will take you directly to the content area where the note is attached.</li>
                        </ul>
                    </p>
                </div>
                <div class="how-to-section" id="bookmarks">
                    <h2>Bookmarks <span><a href="#top">Top<i class="fa fa-angle-up"></i></a></span></h2>
                    <p><img src="/images/bookmark.png" width="200" alt="bookmark" align="left" class="helpSection" />When you are within a document, you will see the Bookmark This Page button in the sidebar, directly below the &quot;Next&quot; section. Clicking that button will add a bookmark to that section. After clicking, you will see a bookmark icon directly below the headline for that page. When you’ve added a bookmark, you will notice that the button changes from "Add Bookmark" to "Remove Bookmark" enabling you to use the same functinoality to remove a bookmark once you no longer need to retrieve that text. Bookmarks are accessible on all devices accessed with your account. So you can bookmark a document on your phone for reading later, or bookmark content at your office for later retrieval on a device. The My Tools menu includes a link to all bookmarks associated with your account.</p>
                </div>
            </div>
                            <div class="how-to-section" id="printing">
                                <h2>Printing <span><a href="#top">Top<i class="fa fa-angle-up"></i></a></span></h2>
                                <p><img src="/images/printing.png" width="200" alt="printing" align="left" class="helpSection" />When you are within a document, you will see the Print This Page button in the sidebar. Clicking that button will allow you to print a version of the content you are viewing, formatted specifically for print. Your browser's Print functionality also works, but does not include the specific formatting provided with the Print This Page button.</p>
                                <p>When using the FASB Accounting Standards Codification&#8482;, the "Show Codification Sources" option will cause sources to be displayed in the printed document. The "Show Codification Sources" option is not available when printing a "joined" document.
                                <p>Note: while print functionality is included for ease of retrieval when offline, many documents are quite long, so printing is only recommended for specific cases. Online notes, bookmarks and updates to content are not available in printed format.
                            </div>
                        </div><!-- .leftcol_content -->
            </div>

    <script type="text/javascript">brightcove.createExperiences();</script>>

</body>
</html>
