<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- http://stackoverflow.com/questions/14607920/the-character-breaks-passwords-that-are-stored-in-the-web-config -->
    <add key="AicpaEncryptionKey" value="$Cp8-2-bi5Z_&amp;_RE-P!At4rm_s5yNk"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
