{#template MAIN}
                    <div id="leftcol" class="col-sm-12">
                        <div class="leftcol_inner">
                            <div class="leftcol_header">
                                <h1>My Notes</h1>
                            </div>
                            <div class="leftcol_content">
                                <h2 class="clearfix">
                                    Note Title
                                    <aside>
                                        <select>
                                            <option>Bulk Action</option>
                                            <option>Delete</option>
                                        </select>
                                        <a href="#">Select All</a>
                                    </aside>
                                </h2>
                                
                                <ul id="toc" class="accordion tools top20">
                                    <li>
                                        <div class="acc_head">
                                            <div class="acc_head_inner">
                                                <h2 class="clearfix">
                                                    <span class="icon"></span>
                                                    <span class="acc_text">Note Title 1</span>
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="acc_content">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="col-sm-9">
                                                        <a href="#">&raquo Title of document where notes resides</a>
                                                        <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla porttitor accumsan tincidunt. Nulla quis lorem ut libero malesuada feugiat. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
                                                    </div>
                                                    <div class="col-sm-3 top45">
                                                        <a href="#" class="btn" data-toggle="modal" data-target="#myModal">Edit</a>
                                                        <a href="#" class="btn">Delete</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="acc_head">
                                            <div class="acc_head_inner">
                                                <h2 class="clearfix">
                                                    <span class="icon"></span>
                                                    <span class="acc_text">Note Title 2</span>
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="acc_content">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="col-sm-9">
                                                        <a href="#">&raquo Title of document where notes resides</a>
                                                        <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla porttitor accumsan tincidunt. Nulla quis lorem ut libero malesuada feugiat. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
                                                    </div>
                                                    <div class="col-sm-3 top45">
                                                        <a href="#" class="btn" data-toggle="modal" data-target="#myModal">Edit</a>
                                                        <a href="#" class="btn">Delete</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="acc_head">
                                            <div class="acc_head_inner">
                                                <h2 class="clearfix">
                                                    <span class="icon"></span>
                                                    <span class="acc_text">Note Title 3</span>
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="acc_content">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="col-sm-9">
                                                        <a href="#">&raquo Title of document where notes resides</a>
                                                        <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla porttitor accumsan tincidunt. Nulla quis lorem ut libero malesuada feugiat. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
                                                    </div>
                                                    <div class="col-sm-3 top45">
                                                        <a href="#" class="btn" data-toggle="modal" data-target="#myModal">Edit</a>
                                                        <a href="#" class="btn">Delete</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                               
                            </div><!-- .leftcol_content -->
                        </div><!-- .leftcol_inner -->
                    </div>
   
{#/template MAIN}