<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="eventlog" type="AICPA.Destroyer.Shared.XmlNodeConfigurationHandler, DestroyerAPI"/>
  </configSections>
  <connectionStrings>
    <add name="AICPA.Destroyer.Properties.Settings.sdox_commondev_mainConnectionString" connectionString="Data Source=2K8SQL8WGD;Initial Catalog=opl2015;User ID=sa;Password=Kn0wlys1s" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- Build Monitor Settings -->
    <add key="BuildMonitor_LogFile" value="BuildMonitor_LOG.txt"/>
    <add key="BuildMonitor_MaxLogFileSize" value="500000"/>
    <add key="BuildMonitor_SleepTime" value="30000"/>

    <!-- The following are destroyer specific configuration settings -->
    <add key="DbConnectionString" value="Password=Kn0wlys1s;Persist Security Info=True;User ID=sa;Initial Catalog=opl2015;Data Source=2k8sql8wgd"/>
    <add key="SessionIdCheckTimeInSeconds" value="60"/>
    <add key="ApiSessionTimeoutInSeconds" value="900"/>
    <add key="DefaultActionPermission" value="1024"/>
    <!-- <add key="SiteIndex_ContentFolder" value="\destroyer_content\sites" /> -->
    <add key="SiteIndex_SiteXmlFilename" value="Destroyer_Site.xml"/>
    <add key="Book_ContentFolder" value="\\win2k12r2dc\content\commonDevBooks"/>
    <add key="Book_ResourceFolder" value="resources"/>
    <add key="Book_MakefileSchemaPath" value="\\destroyerVM\Destroyer_Content_Indexing\D_Makefile.xsd"/>
    <!-- Site XML filename used as input for Endeca builds -->
    <add key="SiteIndex_SiteXmlFilename" value="Destroyer_Site.xml"/>

    <!-- Endeca project folders -->
    <add key="SiteIndex_EndecaTemplateProjectFolder" value="\\ENDECA\Destroyer_Content_Indexing\template_project"/>
    <add key="SiteIndex_EndecaStagingProjectFolder" value="\\ENDECA\Destroyer_Content_Indexing\staging_project_new_opl"/>
    <add key="SiteIndex_EndecaProductionProjectFolder" value="\\ENDECA\Destroyer_Content_Indexing\production_project_new_opl"/>

    <!-- Endeca relative file paths -->
    <add key="SiteIndex_EndecaPipelineRelativePath" value="data\forge_input\Pipeline.epx"/>

    <!-- Endeca navigation engine connection information -->
    <add key="SiteIndex_EndecaStagingHostname" value="192.168.1.212"/>
    <add key="SiteIndex_EndecaStagingPort" value="8000"/>
    <add key="SiteIndex_EndecaProductionHostname" value="192.168.1.212"/>
    <add key="SiteIndex_EndecaProductionPort" value="8000"/>

    <!-- Endeca site indexing service connection information -->
    <add key="SiteIndex_EndecaStagingDataIndexingServiceUrl" value="http://192.168.1.212:8888/services/DataIndexing"/>
    <add key="SiteIndex_EndecaProductionDataIndexingServiceUrl" value="http://192.168.1.212:8888/services/DataIndexing"/>

    <!-- Endeca site indexing service credentials (set in Endeca's tomcat-users.xml) -->
    <add key="SiteIndex_EndecaProductionDataIndexingServiceUsername" value="webservices"/>
    <add key="SiteIndex_EndecaStagingDataIndexingServiceUsername" value="webservices"/>
    <add key="SiteIndex_EndecaProductionDataIndexingServicePassword" value="webservices"/>
    <add key="SiteIndex_EndecaStagingDataIndexingServicePassword" value="webservices"/>

  </appSettings>

  <eventlog>
    <event type="Error" level="5">
      <module name="Book" level="5">
        <method name="BookBuild" level="8"/>
      </module>
      <module name="Site" level="5">
        <method name="SiteBuild" level="8"/>
      </module>
      <module name="SiteIndex" level="5">
        <method name="SiteIndexBuild" level="8"/>
      </module>
    </event>
    <event type="Info" level="5"/>
    <event type="Usage" level="6">
      <module name="Document" level="4">
        <method name="GetContent" level="10"/>
      </module>
      <module name="Site" level="4">
        <method name="GetBook" level="8"/>
      </module>
      <!-- used by the D_UnitTester do not remove or test cases will fail -->
      <module name="CreateEvent" level="5">
        <method name="LogEvent_SpecificMethodSetting" level="10"/>
        <method name="LogEvent_SpecificMethodSettingWithUser" level="10"/>
        <method name="DO_NOT_LogEvent_SpecificMethodSetting" level="1"/>
        <method name="DO_NOT_LogEvent_SpecificMethodSettingWithUser" level="1"/>
      </module>
    </event>
  </eventlog>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
