/* Change the width of the entire slider (without dynamic arrows) */
	.coda-slider, .coda-slider .panel {width:100%;   }  
	
	/* Change margin and width of the slider (with dynamic arrows) */
	.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel {width:1180px;  }
	.coda-slider-wrapper.arrows .coda-slider { margin: 0 }
	
	
div.breadcrumbs-container {width:98.5%; padding-left:8px; z-index:999; height: 31px; background:url(../images/breadcrumb-bg.gif) repeat-x top left;}

.breadCrumb
{
	margin: 0;
	padding: 0 0 0 0;
	width:100%;
}

