<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <identity impersonate="true" userName="aicpainc\docuser" password="Password1"  xdt:Transform="SetAttributes" xdt:Locator="Match(impersonate)"/>
  </system.web>
  <appSettings>
    <add key="DbConnectionString" value="Password=Aicpaodp01;Persist Security Info=True;User ID=cfusion;Initial Catalog=Destroyer;Data Source=nc-sql2k8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="Book_ContentFolder" value="\\nc-odp-web-prod\Content_Indexing\Books\"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Book_ResourceFolder" value="resources" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Book_MakefileSchemaPath" value="\\nc-odp-web-prod\Content_Indexing\D_Makefile.xsd" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="ForumUrl" value="/Forum/pages/landingPage.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="SiteIndex_EndecaStagingHostname" value="NC-ODP-SEARCH-STAGE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SiteIndex_EndecaStagingPort" value="15000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EndecaHostname" value="NC-ODP-SEARCH-STAGE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EndecaPort" value="15000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="SiteIndex_EndecaTemplateProjectFolder" value="E:\Endeca\endeca_projects\template_project" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SiteIndex_EndecaStagingProjectFolder" value="\\nc-odp-search-stage\Content_Indexing\staging_project" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SiteIndex_EndecaProductionProjectFolder" value="\\nc-odp-search-stage\Content_Indexing\production_project" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>

</configuration>