USE [sdox_nightlybuild_Mike]
GO

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.D_User SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.D_UserPreferences
	(
	UserPreferenceId int NOT NULL IDENTITY (1, 1),
	UserId uniqueidentifier NOT NULL,
	[Key] nvarchar(50) NOT NULL,
	Value nvarchar(256) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.D_UserPreferences ADD CONSTRAINT
	PK_D_UserPreferences PRIMARY KEY CLUSTERED 
	(
	UserPreferenceId
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.D_UserPreferences ADD CONSTRAINT
	FK_D_UserPreferences_D_User1 FOREIGN KEY
	(
	UserId
	) REFERENCES dbo.D_User
	(
	UserId
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.D_UserPreferences ADD CONSTRAINT
	UK_D_UserPreferences UNIQUE NONCLUSTERED 
	(
	UserId,
	[Key]
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.D_UserPreferences SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
