USE [sdox_nightlybuild_Mike]
GO

/* InsertUserPreference stored proc*/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[D_InsertUserPreference]
(
  	@UserId uniqueidentifier,
	@Key nvarchar(50),
	@Value nvarchar(256)
)

AS

INSERT INTO D_UserPreferences (UserId, [Key], [Value])
VALUES (@UserId, @Key, @Value);
SELECT @@IDENTITY
GO

/* UpdateUserPreference stored proc*/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[D_UpdateUserPreference]
(
	@PreferenceId int,
  	@UserId uniqueidentifier,
	@Key nvarchar(50),
	@Value nvarchar(256)
)

AS

UPDATE D_UserPreferences
SET UserId = @UserId, [Key] = @Key, [Value] = @Value
WHERE UserPreferenceId = @PreferenceId;
GO

/* GetUserPreference stored proc */
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[D_GetUserPreference]
(
  @PreferenceId int
)

AS

SELECT	UserPreferenceId, UserId, [Key], [Value]
FROM 	D_UserPreferences
WHERE 	UserPreferenceId = @PreferenceId;
GO

/* GetUserPreferenceByUserIdAndKey stored proc */
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[D_GetUserPreferenceByUserIdAndKey]
(
  @UserId uniqueidentifier,
  @Key nvarchar(50)
)

AS

SELECT	UserPreferenceId, UserId, [Key], [Value]
FROM 	D_UserPreferences
WHERE 	UserId = @UserId AND [Key] = @Key;
GO

/* GetUserPreferences stored proc */
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[D_GetUserPreferences]
(
  @UserId uniqueidentifier
)

AS

SELECT	UserPreferenceId, UserId, [Key], [Value]
FROM 	D_UserPreferences
WHERE 	UserId = @UserId;
GO

/* DeleteUserPreference stored proc */
SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[D_DeleteUserPreference]
(
	@PreferenceId int
)

AS

DELETE FROM D_UserPreferences WHERE UserPreferenceId = @PreferenceId;
GO
