<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="eventlog" type="AICPA.Destroyer.Shared.XmlNodeConfigurationHandler, DestroyerAPI"/>
	</configSections>

  <appSettings file="D_UnitTester_appSettings.config">
		<add key="SessionIdCheckTimeInSeconds" value="1" />	
		<add key="ApiSessionTimeoutInSeconds" value="5" />
		<add key="DefaultActionPermission" value="1024" />

    <!-- Site XML filename used as input for Endeca builds -->
		<add key="SiteIndex_SiteXmlFilename" value="Destroyer_Site.xml" />

		<!-- Endeca project folders -->
		<add key="SiteIndex_EndecaTemplateProjectFolder" value="\\endeca1\Projects\template_project" />
		<add key="SiteIndex_EndecaStagingProjectFolder" value="\\endeca1\Projects\staging_project" />
		<add key="SiteIndex_EndecaProductionProjectFolder" value="\\endeca1\Projects\production_project" />

		<!-- Endeca relative file paths -->
		<add key="SiteIndex_EndecaPipelineRelativePath" value="data\forge_input\Pipeline.epx" />
		
		<!-- Endeca navigation engine connection information -->
		<add key="SiteIndex_EndecaStagingHostname" value="endeca1" />
		<add key="SiteIndex_EndecaStagingPort" value="15000" />
		<add key="SiteIndex_EndecaProductionHostname" value="endeca1" />
		<add key="SiteIndex_EndecaProductionPort" value="15000" />
		
		<!-- Endeca site indexing service connection information -->
		<add key="SiteIndex_EndecaStagingDataIndexingServiceUrl" value="http://endeca1:8888/services/DataIndexing" />
		<add key="SiteIndex_EndecaProductionDataIndexingServiceUrl" value="http://endeca1:8888/services/DataIndexing" />
		
		<!-- Endeca site indexing service credentials (set in Endeca's tomcat-users.xml) -->
		<add key="SiteIndex_EndecaProductionDataIndexingServiceUsername" value="webservices" />
		<add key="SiteIndex_EndecaStagingDataIndexingServiceUsername" value="webservices" />
		<add key="SiteIndex_EndecaProductionDataIndexingServicePassword" value="webservices" />
		<add key="SiteIndex_EndecaStagingDataIndexingServicePassword" value="webservices" />
	</appSettings>

	<!--

	***Configuring the Applications EventLog***
	 
	The application will log events to the Database EventLog table according to the 
	severity level of the event log being written. If the severity level's integer value
	is less than or equal to to the configured log level for the method, module, or event
	type than the event will be logged to the database.

	The EventLog will support logging three different types of events.
		1. Error: Events that occured because of a runtime execution error.
		2. Usage: Events that are used to determine how the application is being used.
		3. Info: "Trace-like" detailed events that are useful for debugging.
		
	Logging Configuration Order of Precedence:
		1. Is there a method logging rule that matches the method writing the log?
		2. Is there a module logging rule that matches the module writing the log?
		3. Is there a default rule applied to the event type?

	Examples:
		1. Setting '<method name="GetContent" level="4"/>' will instruct the application to
		log all 'GetContent' events of severity 1-4.
		2. If there is not a rule for the method, the module's log-level is used. Setting
		'<module name="Document" level="5">' will instruct the application to log all
		loggable events occuring within 'Document' that have a severity of 1-5.
		3. Setting '<event type="Usage" level="6">' will log all events of type Usage that don't have a
		more granular module/method log-level configuration.
		
	-->
	<eventlog>
		<event type="Error" level="5">
			<module name="Book" level="5">
				<method name="BookBuild" level="8"/>
			</module>
			<module name="Site" level="5">
				<method name="SiteBuild" level="8"/>
			</module>
			<module name="SiteIndex" level="5">
				<method name="SiteIndexBuild" level="8"/>
			</module>						
		</event>
		<event type="Info" level="5"/>
		<event type="Usage" level="6">
			<module name="Document" level="4">
				<method name="GetContent" level="10"/>
			</module>
			<module name="Site" level="4">
				<method name="GetBook" level="8"/>
			</module>
			<!-- used by the D_UnitTester do not remove or test cases will fail -->
			<module name="CreateEvent" level="5">
				<method name="LogEvent_SpecificMethodSetting" level="10"/>
				<method name="LogEvent_SpecificMethodSettingWithUser" level="10"/>
				<method name="DO_NOT_LogEvent_SpecificMethodSetting" level="1"/>
				<method name="DO_NOT_LogEvent_SpecificMethodSettingWithUser" level="1"/>
			</module>
		</event>
	</eventlog>

</configuration>
