{#template MAIN}

<div class="tool-container2" id="top" name="top">
            	<h1 style="padding:0; margin:0;">Help Topics</h1>
                <p>This section provides information on using the various features and functions of the COSO Collection, a library of select publications by the Committee of Sponsoring Organizations of the Treadway Commission .</p>
               
{#if $T.d.ShowContactInfo}
                <p>If you need additional assistance or would like to provide us with feedback, please send us an email
                at <a href="mailto:service@aicpa.org">service@aicpa.org</a>.</p>
{#/if}
                <div style="width:47%; float:left;">
                    <h3 class="borderbot"><a href="#NavigatingSite">Navigating the Site</a></h3>
                    <ul class="tabs4">
                        <li><a href="#HomeHelp">Homepage</a></li>
                        <li><a href="#BreadcrumbHelp">Breadcrumb</a></li>
                        <li><a href="#Toolbar">Toolbar</a></li>
                        <li><a href="#TOC">Table of Contents</a></li>
                        <li><a href="#SearchSection">Search</a></li>
                        <li><a href="#BackButton">Back Button</a>
                            <ul>
                                <li><a href="#BrowserBackButton">Browser Back Button</a></li>
                                <li><a href="#ApplicationBackButton">Application "Back" Button</a></li>
                            </ul>
                        </li>
                        <li><a href="#NextPrevious">"Next" and "Previous" Buttons</a></li>
                        <li><a href="#Bookmarks">Bookmarks</a></li>
                    </ul>
                
                    <h3 class="borderbot"><a href="#WorkingDocument">Working in a Document</a></h3>
                    <ul class="tabs4">
                        <li><a href="#MultipleDocs">Multiple Documents</a></li>
                        <li><a href="#TablesImages">Tables and Images</a></li>
                        <li><a href="#Downloading">Downloading a File</a></li>
                        <li><a href="#Printing">Printing</a></li>
                        <li><a href="#Notes">Notes</a></li>
                    </ul>
                </div>
                <div style="width:47%; float:left; margin-left:20px;">
                    <h3 class="borderbot"><a href="#SearchHelp">Search</a></h3>
                    <ul class="tabs4">
                        <li><a href="#BasicSearchHelp">Basic Search</a></li>
                        <li><a href="#AdvancedSearchHelp">Advanced Search</a></li>
                        <li><a href="#Boolean">Boolean Operator Searches</a></li>
                        <li><a href="#SearchResults">Viewing and Refining Your Search Results</a></li>
                        <li><a href="#NavigatingSearch">Navigating Search Results Within Documents</a></li>
                        <li><a href="#ModifyingSearch">Modifying and Saving Your Search</a></li>
                    </ul>
                    <h3 class="borderbot"><a href="#ToolbarHelp">Toolbar</a></h3>
                    <ul class="tabs4">
                        <li><a href="#MyLibraryHelp">Library</a></li>
	                    <li><a href="#DocumentsHelp">Documents</a></li>
	                    <li><a href="#ToolsHelp">Tools</a></li>
                        <li><a href="#HelpToolsHelp">Settings</a></li>
                    </ul>
                    <h3 style="padding:0;"><a href="#SessionTimeout">Session Timeout</a></h3>
					<h3 style="padding:0;"><a href="#ScreenResolution">Recommended Screen Resolution</a></h3>
                    <h3 style="padding:0;"><a href="#LoggingOut">Logging Out</a></h3>
                    <!--<h3 style="padding:0;"><a href="#ProvidingFeedback">Providing Feedback</a></h3>-->
    {#if $T.d.ShowContactInfo}
	                <h3 style="padding:0;"><a href="#CustomerService" class="anchorLink">Customer Service</a></h3>
    {#/if}
                </div>
                <div class="clear"></div>
                
</div>
<div class="tool-container2">
<div id="NavigatingSite" class="tab_content4">
    <h3 class="borderbot">Navigating the Site<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <p>There are several ways to navigate the COSO Collection:</p>
    <ul>
        <li><a href="#HomeHelp">Homepage</a></li> 
        <li><a href="#BreadcrumbHelp">Breadcrumb</a></li>
        <li><a href="#TOC">Table of contents</a></li>
        <li><a href="#SearchSection">Search</a></li> 
        <li><a href="#BackButton">Back button</a></li>
        <li><a href="#NextPrevious">Next and previous buttons</a></li>
        <li><a href="#Bookmarks">Bookmarks</a></li>
    </ul>
    <p>The following sections discuss the navigation features.</p>
</div>
</div>
<div class="tool-container2">
<div id="HomeHelp" class="tab_content4">
    <h3 class="borderbot">Homepage<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <img src="images/help/coso/coso-help-home.jpg" alt="Home Icon" class="helpSection" />
    <p>The homepage is your first access to the publications in your COSO subscription. You may return to the homepage at any time by clicking on the home icon <img src="images/IconHome3.gif" alt="Home icon" /> on the top left of your screen.
    </p>
    
	
</div>
</div>

<div class="tool-container2">
<div id="BreadcrumbHelp" class="tab_content4">
    <h3 class="borderbot">Breadcrumb <span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <img src="images/help/coso/Breadcrumb-2.png" alt="Breadcrumb" class="helpSection" />
    <p>The Breadcrumb function is located at the top of the site and is the primary navigation feature of the COSO Collection. It serves as both a Breadcrumb and a table of contents. (A separate table of contents is also available. For additional details about the separate table of contents, <a href="#TOC">click here</a>.) The Breadcrumb will display (1) your current location or the document you are currently viewing, (2) the preceding documents in the hierarchy, and (3) the location(s) or document(s) that you can go to next.</p>
    <p>As you navigate deeper into the content, a Breadcrumb link is added for each level that you move through. As additional levels are added, the preceding links will compress and only their icons will display. If you mouse over one of these compressed Breadcrumb links, it will expand. If you move the mouse off of the dropdown menu, it will compress again. </p>
    <div class="clear"></div>
</div>
</div>

<div class="tool-container2">
<div id="Toolbar" class="tab_content4">
    <h3 class="borderbot">Toolbar<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <p>The toolbar is at the top of the site and consists of a horizontal list of tabs offering access to a table of contents and various tools and settings. Refer to the <a href="#ToolbarHelp">“Toolbar” section</a> for more information. </p>
    <div class="clear"></div>
</div>
</div>

<div class="tool-container2">
<div id="TOC" class="tab_content4">
    <h3 class="borderbot">Table of Contents<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <p>The table of contents is available from both the homepage and the “Tools” tab on the toolbar, by selecting Documents.</p>
    <img src="images/help/coso/toc.jpg" alt="Table of Contents" class="helpSection" />
    <p>When you first open the table of contents, it shows the top level of publications. Clicking on the grey arrows will further expand (or collapse) the list of sections within the publication.</p>
    <p>To synchronize the table of contents with the current document you have open, click on the “SYNC TOC” button at the top of the table of contents.</p>
    <div class="clear"></div>
</div>
</div>

<div class="tool-container2">
<div id="SearchSection" class="tab_content4">
    <h3 class="borderbot">Search<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <p>Search is an excellent way to find the content you need. The COSO Collection includes basic and advanced search options, the ability to refine your searches in several different ways, and a saved search function. Refer to the <a href="#SearchHelp">“Search” section</a> for more information. </p>
    <div class="clear"></div>
</div>
</div>



<div class="tool-container2">
<div id="BackButton" class="tab_content4">
    <h3 class="borderbot">Back Button<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <b id="BrowserBackButton">Browser Back Button</b><br />
    <p>Using your browser’s back button in COSO Collection could cause you to logout. You will receive the following message when using your browser’s back button:</p>
    <img src="images/help/coso/areyousure.jpg" alt="Back warning" class="helpSection" />
    <div class="clear"></div>
    <b id="ApplicationBackButton">Application Back Button</b><br />
    <img src="images/help/coso/back.jpg" alt="Back Button" class="helpSection" />
    <p>Use the “Back” button within the application to go back to your previous location. The ”Back” button is located at the top far right side of your screen.</p>
    <div class="clear"></div>
</div>
</div>

<div class="tool-container2">
<div id="NextPrevious" class="tab_content4">
    <h3 class="borderbot">"Next" and "Previous" Buttons<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <img src="images/help/coso/prev-next.png" alt="Back Button" class="helpSection" />
    <p>The Previous and Next buttons are located at the top left of your screen. To move to the next screen in a document, click on the “Next” button. No “Next” button will display if you have reached the end of a document.</p>
    <div class="clear"></div>
    <p>Likewise, to navigate to the previous screen, select the Prev button. No “Previous” button will display if you are at the beginning of a document.</p>
    <div class="clear"></div>
</div>
</div>

<div class="tool-container2">
<div id="Bookmarks" class="tab_content4">
    <h3 class="borderbot">Bookmarks<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <img src="images/help/coso/bookmark.jpg" alt="Add Bookmark" class="helpSection"/>
    <p>When you are within a document, you will see the Bookmark button in the top right of the document area. Clicking that button will add a bookmark to that section. When you’ve added a bookmark, you will notice that the button changes from “Add Bookmark” to “Delete Bookmark.”</p> 
    <div class="clear"></div>
    <p>To access your bookmarks, click the My Bookmarks button in the Tools section of the toolbar.</p>
    <p>Here, you can delete bookmarks or go to the bookmarked section. </p>
    <div class="clear"></div>
</div>
</div>

<div class="tool-container2">
<div id="WorkingDocument" class="tab_content4">
    <h3 class="borderbot">Working in a Document<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <p>To work in a document, open the document using any of the navigational features shown in the “Navigating the Site” section above. Some features that may be useful when working in a document include the following:</p> 
    <ul>
        <li><a href="#MultipleDocs">Multiple Documents</a></li>
        <li><a href="#TablesImages">Tables and Images</a></li>
        <li><a href="#Downloading">Downloading a File</a></li>
        <li><a href="#CopyPaste">Copying and Pasting Text</a></li>
        <li><a href="#Printing">Printing</a></li>
        <li><a href="#Notes">Adding and Editing Notes</a></li>
    </ul>
    <div class="clear"></div>
</div>
</div>

<div class="tool-container2">
<div id="MultipleDocs" class="tab_content4">
    <h3 class="borderbot">Multiple Documents<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <p>The documents tab in the toolbar shows the current documents you have open. You may have up to 10 documents open at one time. Each document is represented by a tab labeled with the first few words of the title of the document. You may switch back and forth between documents by clicking the desired tab. You may also close any of the open documents by clicking the "x" button located on the right side of each document tab.</p> 
    <div class="clear"></div>
</div>
</div>

<div class="tool-container2">
<div id="TablesImages" class="tab_content4">
    <h3 class="borderbot">Tables and Images<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <img src="resources/table-minus.gif" class="helpSection" />
    <p>Tables and images included in the COSO Collection are preceded by an icon at the top left of each table or image. If you wish to minimize the table for ease of use, click that icon. Click again to restore the table or image to full size.  Please note when the table or image is minimized, a default image is displayed.</p> 
    <div class="clear"></div>
</div>
</div>

<div class="tool-container2">
<div id="Downloading" class="tab_content4">
    <h3 class="borderbot">Downloading a File<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <img src="images/help/coso/download.jpg" alt="download icon" class="helpSection" />
    <p>Some tools within the COSO Collection are downloadable. This gives you the ability to modify the files for your needs. A “Download” button will display on the toolbar when this option is available.</p> 
    <div class="clear"></div>
</div>
</div>

<div class="tool-container2">
<div id="Printing" class="tab_content4">
    <h3 class="borderbot">Printing<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <p>You have two options for printing a document. You can click the “Print” button at the top right of your document screen or click the print icon in the “Tools” section of the toolbar.</p> 
    <p>Both of those options will bring up a preview screen:</p>
    <p>To print the current section you are viewing, click the “Print” button. To create a PDF instead of printing, select the “print PDF” option.</p>
    <div class="clear"></div>
</div>
</div>

<div class="tool-container2">
<div id="Notes" class="tab_content4">
    <h3 class="borderbot">Adding and Editing Notes<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <img src="images/help/coso/editnote.jpg" alt="view/edit note" class="helpSection" />
    <p>You can add one or more notes to content wherever you see the “Add New Note” icon . Simply click on the “Add New Note” link, type in a title and the body of your note, and click “Save.”  After you’ve saved a note, you will notice a “View/Edit” link to the right of the “Add New Note” link.  Clicking the “Add New Note” link again, will allow you to add another note to the same content. You can add as many notes as you wish to a content area.</p>
    <p>You have two options for viewing and editing your notes. 
        <ol>
            <li>1.	If you click “View/Edit,” you will see the list of notes you’ve added to that content area.</li> 
            <li>2.	You can also view and edit all notes that you’ve saved throughout your collection by clicking the “Tools” button and then clicking “My Notes.”  You will see the title of each of your notes, as well as the location of each note. Here you can view, edit, or delete notes. Clicking a note location will take you directly to the content area where the note is attached.</li>  
        </ol>
    </p>
    <div class="clear"></div>
</div>
</div>

<!------------------------------------------------ ------------------------------------------------>

<div class="tool-container2">
<div id="SearchHelp" class="tab_content4">
    <h3 class="borderbot">Search<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <p>The following sections help you take advantage of the available search tools.</p> 
    <ul>
        <li><a href="#BasicSearchHelp">Basic Search</a></li>
        <li><a href="#AdvancedSearchHelp">Advanced Search</a></li>
        <li><a href="#Boolean">Boolean Operator Searches</a></li>
        <li><a href="#SearchResults">Viewing and Refining Your Search Results</a></li>
        <li><a href="#RefiningSearch">Navigating Search Results Within Documents</a></li>
        <li><a href="#ModifyingSearch">Modifying and Saving Your Search</a></li>
    </ul>
    <div class="clear"></div>
</div>
</div>

<div class="tool-container2">
<div id="BasicSearchHelp" class="tab_content4">
    <h3 class="borderbot">Basic Search<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <p>The basic search box in the toolbar enables you to do single or multiple word searches.</p> 
    <img src="images/help/coso/basicSearch.jpg" alt="Basic Search" class="helpSection" />
		<ul class="float">
			<li>Enter the word(s) you want to search for and hit "enter."</li>
            <li>•	A list of select COSO publications will display. This list
                <ul>
                    <li>may be used to refine your results to a specific title or portion of a title.  Click the title of the desired result to view the text of the document. For further details on this feature <a href="#SearchResults">click here</a>.</li>
                    <li>The advanced search feature also will display, which enables you to do more precise searching. For further details on this feature <a href="#AdvancedSearchHelp">click here</a>.</li>
                </ul>
            </li>
            <li>Once in a document, you are easily able to return to your current search results by clicking the “Search Results” button.</li>
            <li>To return to the content you were viewing prior to starting your search, click the “Back” button located next to the “Search Results” button.</li>
        </ul>
    <div class="clear"></div>
</div>
</div>

<div class="tool-container2">
<div id="AdvancedSearchHelp" class="tab_content4">
    <h3 class="borderbot">Advanced Search<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <p>The advanced search enables you to perform a focused search by selecting from a list of options. </p> 
		<ul class="float">
			<li>
				Enter the word or phrase that you want to search for.
			</li>
			<li>
				Select whether you want to search for <b>"All Words," "Any Words," "Exact 
				Phrase," or "Boolean Search".</b>
			</li>
			<ul>
				<li>
					<i>All Words</i> - Each word must be present in the 
					document to return a hit result.
				</li>
				<li>
					<i>Any Words</i> - At least one of the words must be present 
					to return a hit result.
				</li>
				<li>
					<i>Exact Phrase</i> - 
					All words must be present in the same order that you have typed them in to 
					return a hit result.
				</li>
				<li>
					<i>Boolean Search</i> - Allows you to refine your 
					queries to focus on more specific or more general information than may be found 
					with a single word or phrase search. Click <a href="#Boolean">here</a> 
					for more details on Boolean searching.
				</li>
			</ul>
            <li>
			    You have the option to narrow your search to a specific collection of COSO publications. To do so, select the desired collection from the dropdown menu.	
            </li>
            <li>
				Select whether you want to search all of the collection or just those titles you subscribe to. To include documents not included in your current subscription, select the box for <b>Search Unsubscribed Content</b>.<br />
               (Note: You will be able to click into a search result only if you subscribe to that content. A lock icon will display next to unsubscribed content and an alert will be shown containing instructions for purchasing that content.)
			</li>

			<li>
				Select whether you want to show excerpts in context of the document in
				your search results. If you do not want excerpts to display, de-select the box
				for <b>Show Excerpts</b>.
			</li>
			<li>
				Click the “Search” button to perform the search.
			</li>
			<li>
				A list of results will be 
				displayed. Click the title of the desired result to view the text of the 
				document.
			</li>
		</ul>
    <div class="clear"></div>
</div>
</div>

<div class="tool-container2">
<div id="Boolean" class="tab_content4">
    <h3 class="borderbot">Boolean Operator Searches<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
		<p>The Boolean operators allow you to refine your queries to 
			focus on more specific or more general information than may be found with a 
			single word or phrase search.</p>
		<p>Boolean operators require a word or phrase on either side of the
			operator. For example, <b>dog or cat</b> is a valid query, but <b>or cat dog</b>
			is not. The exception is the <i>not</i> operator. The not operator can be used before
			a term and still be valid. For example, <b>not cat dog</b> returns the same
			result as <b>dog not cat</b>.  There are three Boolean operators that you can use in the AICPA Online Professional Library: and, or, not. See <b><a href="#OperatorPrecedence">Operator precedence</a></b> for
			a discussion of the precedence (order of execution) of these operators and how
			to override the precedence.
		</p>
		<p><b>And</b><br />
			Use the And operator to search for multiple words in the same document.
		</p>
		<p>The And operator may be specified in either of two ways: a single space between 
            words or the word <b>and</b>.</p>
		<p></p>
		
		<div align="center">
			<table border="0" cellspacing="0" cellpadding="0" width="90%" style="margin-left:20px">
				<tr>
					<td style="border-bottom:solid 1px darkgray;border-right:solid 1px darkgray;">
						<b>Query</b>
					</td>
					<td style="border-bottom:solid 1px darkgray;">
						<b>Explanation</b>
					</td>
				</tr>
				<tr>
					<td style="border-bottom:solid 1px darkgray;border-right:solid 1px darkgray;">
					   view codes<br />
					   view and codes
					</td>
					<td style="border-bottom:solid 1px darkgray;">
						Finds all documents that contain both view and codes
					</td>
				</tr>
				<tr>
					<td style="border-bottom:solid 1px darkgray;border-right:solid 1px darkgray;">
						accountant AND attorney and doctor
					</td>
					<td style="border-bottom:solid 1px darkgray;">
						Finds all documents that contain accountant, attorney, and doctor
					</td>
				</tr>
			</table>
		</div>
		
		<br />
		<b>Or</b><br />
			<p>Use the Or operator to search for multiple words in the document collection 
			(the words may or may not be in the same document).</p>
			
		<p>The Or operator is specified using the word <b>or</b>.</p>
			
		<div align="center">
			<table border="0" cellspacing="0" cellpadding="0" width="90%" >
				<tr>
					<td style="border-bottom:solid 1px darkgray;border-right:solid 1px darkgray;">
						<b>Query</b>
					</td>
					<td style="border-bottom:solid 1px darkgray;">
						<b>Explanation</b>
					</td>
				</tr>
				<tr>
					<td style="border-bottom:solid 1px darkgray;border-right:solid 1px darkgray;">
						view or codes
					</td>
					<td style="border-bottom:solid 1px darkgray;">
						Finds all documents that contain either view or codes (may contain both)
					</td>
				</tr>
				<tr>
					<td style="border-bottom:solid 1px darkgray;border-right:solid 1px darkgray;">
						accountant or attorney and doctor
					</td>
					<td style="border-bottom:solid 1px darkgray;">
						Finds all documents that contain accountant and either attorney or
						doctor (or both attorney and doctor) (See Operator precedence for additional explanation on these results)
					</td>
				</tr>
			</table>
		</div>
<br />
		<p><b>Not</b><br />
			Use the Not operator to search for documents that do not contain a particular 
			term or set of terms. Not is actually a unary operator (it can be used by 
			itself), but it is often used in between two terms (find documents that 
			contain A but not B).
			</p>
		<p>Generally, the best way to think of the Not operator when used 
			between two terms (A not B) is "find documents with A and find documents 
			without B" (A and not B).
			</p>
		<p>The Not operator is specified using the word <b>not</b>.
			</p>
		<div align="center">
			<table border="0" cellspacing="0" cellpadding="0" width="90%">
				<tr>
					<td style="border-bottom:solid 1px darkgray;border-right:solid 1px darkgray;">
						<b>Query</b>
					</td>
					<td style="border-bottom:solid 1px darkgray;">
						<b>Explanation</b>
					</td>
				</tr>
				<tr>
					<td style="border-bottom:solid 1px darkgray;border-right:solid 1px darkgray;">
						view not codes
					</td>
					<td style="border-bottom:solid 1px darkgray;">
						Finds all documents that contain view but that do not contain codes
					</td>
				</tr>
				<tr>
					<td style="border-bottom:solid 1px darkgray;border-right:solid 1px darkgray;">
						not account
					</td>
					<td style="border-bottom:solid 1px darkgray;">
						Finds all documents that do not contain account
					</td>
				</tr>
			</table>
		</div>
		<br />
		<br />
		<p><b id="OperatorPrecedence">Operator precedence</b><br />
			The query operators have a precedence order. That is, when two more operators 
			are used in a query, the results of one operator will be evaluated before 
			another operator. Understanding the precedence -- and how to override the 
			precedence -- can assist you in finding the information you need.
			</p>
			
		<p>The operator precedence is:&nbsp;<b>Not, And, Or<br />
			</b>If the same operators are used in a query (for example, if Or appears twice 
			in a query), the operators are evaluated from left-to-right.
			</p>
        <div class="clear"></div>
</div>
</div>			

<div class="tool-container2">
<div id="SearchResults" class="tab_content4">
    <h3 class="borderbot">Viewing and Refining Your Search Results<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>	
        <div class="clear"></div>
		<p>At the top of the Search Results page, you will see results from each publication specified in your search (see “Advanced Search” for more information on searching products not in your subscription). You will be able to narrow your results even further when you drill down. As you drill down, the search results will automatically reflect the narrowing of your results.
		</p>
		<div class="clear"></div>

</div>
</div>

<div class="tool-container2">
<div id="NavigatingSearch" class="tab_content4">
    <h3 class="borderbot">Navigating Search Results Within Documents<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>	
		<img src="images/help/coso/searchnav.jpg" class="helpSection"  />
		<p>After clicking into a document that contains your search query, use the gray “Search Hits” box on the top-right of the screen to navigate through the search hits. Each hit will be highlighted in the text.</p>
        <p>The <b>PREV</b> and <b>NEXT</b> buttons will take you to the previous and next hits within the document you are viewing.
Use the ≤ and ≥ buttons in the “Search Hits” box to navigate to the previous and next documents that contain your search term. (The previous and next documents are in the same order they appeared in the search results.)</p>
<p>Once you’ve located your desired hit, clicking the <b>X</b> in the “Search Hits” box will close the box and keep your current document open.

		</p>
		<br /><br />
        <div class="clear"></div>
</div>
</div>

<div class="tool-container2">
<div id="ModifyingSearch" class="tab_content4">
    <h3 class="borderbot">Modifying and Saving Your Search<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>	
		<p>To modify your search, enter your new search words and options in the form above the search results and click the “Update Search” button.
        To save your search, click the “Save Search” button, then enter the desired title in the pop-up box. When you click “Submit,” the current search results will be saved.</p>
        <p>Saved searches are retrievable from the Tools menu of the toolbar. This feature lists all of your saved searches by title and allows you to access the saved search results by clicking on a title. You can also rename or delete any of your saved searches. </p>
        <div class="clear"></div>
</div>
</div>
<!------------------------------------------------ ------------------------------------------------>
<div class="tool-container2">
<div id="ToolbarHelp" class="tab_content4">
    <h3 class="borderbot">Toolbar<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>	
		<img src="images/help/coso/toolbar.jpg" alt="toolbar" class="helpSection" width="500px" />
        <p>The toolbar, which is always located at the top of the COSO Collection, provides easy access to the Table of Contents (Library), documents that you have open, tools, and settings, which includes this help section and logout. The tabs of the toolbar are described below. By clicking on any of these tabs, a new set of links will appear providing you with options to choose from.</p>
        <p>You may choose to expand and collapse your toolbar by clicking the button on the far right side of the toolbar.</p>
        <div class="clear"></div>
</div>
</div>
		
<div class="tool-container2">
<div id="MyLibraryHelp" class="tab_content4">
    <h3 class="borderbot">Library<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <!--<img src="images/help/toolbarHome.jpg" alt="Toolbar Home" class="helpSection" />-->
    <p>This tab displays the select publications in your COSO subscription.</p>
    <div class="clear"></div>
</div>
</div>

<div class="tool-container2">
<div id="DocumentsHelp" class="tab_content4">
    <h3 class="borderbot">Documents<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <img src="images/help/coso/Documents.png" alt="Toolbar Home" class="helpSection"/>
    <p>This tab displays the documents that you have open and provides access to begin a new document. </p>
    <div class="clear"></div>
</div>
</div>

<div class="tool-container2">
<div id="ToolsHelp" class="tab_content4">
    <h3 class="borderbot">Tools<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <img src="images/help/coso/tools.png" alt="Toolbar Tools" class="helpSection"/>
    <div class="clear"></div>
    <p>This tab displays the available tools.</p>
    <p><b>Table of Contents:</b> Refer to the <a href="#TOC">“Table of Contents”</a> section under the “Navigating the Site” section for more information.<br />
    <b>Font Preferences:</b> Change the font face and size to suit your preference.<br />
    <b>Saved Searches:</b> Refer to the <a href="#Search">“Search”</a>  section for more information on saved searches.<br />
    <b>My Notes:</b> Refer to the <a href="#Notes">“Notes”</a> section for more information on working with notes.<br />
    <b>My Bookmarks:</b> Refer to the <a href="#Bookmarks">“Bookmarks”</a> section for more information on using bookmarks.<br />
    <div class="clear"></div>
</div>
</div>
    
<!--<div class="tool-container2">
<div id="PreferencesHelp" class="tab_content4">
    <h3 class="borderbot">Preferences<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <img src="images/help/toolbarPref.jpg" alt="Toolbar Preferences" class="helpSection" />
    <p>This tab provides access the various available preferences.</p>
    <div class="clear"></div>
    <p><b>Document Fonts</b></p>
    <img src="images/help/prefs.jpg" alt="Document Fonts" class="helpSection" />
    <p>This feature allows you select a particular font and font size for all the text appearing within a document. Fonts and font sizes are not adjustable within tables.</p>
    <p><b>Saved Searches.</b> Refer to the <a href="#SearchHelp">“Search”</a> section for more information on saved searches.<br />
    <b>Notes.</b> Refer to the <a href="#Notes">“Notes”</a> section for more information on working with notes.</p>
    <div class="clear"></div>
</div>
</div> -->

<div class="tool-container2">
<div id="HelpToolsHelp" class="tab_content4">
    <h3 class="borderbot">Settings<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <img src="images/help/coso/settings.png" alt="Toolbar Help" class="helpSection"/>
    <p>This icon provides access to this help section and logout.</p>
    <div class="clear"></div>
</div>
</div>  

<div class="tool-container2">
<div id="SessionTimeout" class="tab_content4">
    <h3 class="borderbot">Session Timeout<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <img src="images/help/timeout2.gif" alt="Session Timeout" class="helpSection" />
    <p>The COSO Collection will timeout after 60 minutes of idle time. Once the system times out, you will need to login again to continue working. 
You will receive an alert message that your session is about to timeout. If no action is taken when you receive this message, your session will automatically end about 10 minutes later. If you click OK, you will remain logged in.</p>
    <div class="clear"></div>
</div>
</div>  

<div class="tool-container2">
<div id="ScreenResolution" class="tab_content4">
    <h3 class="borderbot">Recommended Screen Resolution<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <p>To enhance the usability of the site, we recommend your screen resolution be set to a minimum of 1024 x 768 and for optimal usage we recommend 1280 x 1024.</p>
    <div class="clear"></div>
</div>
</div> 

<div class="tool-container2">
<div id="LoggingOut" class="tab_content4">
    <h3 class="borderbot">Logging Out<span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <p>To logout of the COSO Collection close your browser or select the logout button under the settings icon in your toolbar.</p>
    <div class="clear"></div>
</div>
</div>  

<div class="tool-container2">
<div id="CustomerService" class="tab_content4">
    <h3 class="borderbot">Customer Service <span class="right-top"><a href="#top">Back to top &raquo;</a></span></h3>
    <p>Support is available from 9 a.m. to 6 p.m. Eastern time, Monday through Friday.</p>

    <br />

    Phone: 1-888-777-7077
    <br />
    Email: <a href="mailto:service@aicpa.org">service@aicpa.org</a>
    <br />

    <p>Please provide as much information as possible when
    contacting Customer Service for support, including:</p>

    <ul>
    <li>The exact error message you received, and specifically what
    you were doing when you received the error.</li>
    <li>Information on your system configuration, including browser
    version.</li>
    </ul>
</div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{#/template MAIN}