<div class="tool-container">
		<div class="float">
            <img src="images/portal/icon_warning_24.gif"> 
        </div>
		<h3 class="float" style="width:85%; margin:0 0 0 10px; padding:1px 0 4px 0;">
            There was an error processing your request.
        </h3>
        <div class="clear" style="height:15px;"></div>
		<p style="color:#000; margin-left:35px;">
            Please contact customer support.<br />
            <br />
            Start again with:<br />
            <ul class="ulErrorOptions">
                <li id="liLastDocumentLink" style="display:none"><a href="#" id="aLastDocumentLink" onclick="removeUnloadEvent();">&raquo; Your last document</a></li>
                <li><a href="Default.aspx" onclick="removeUnloadEvent();">&raquo; The homepage</a></li>
            </ul> 
		</p>

<script language="javascript" type="text/javascript">
    $("#liLastDocumentLink").ready(function () {
        try {
            if (hasActiveDocument()) {
                $("#liLastDocumentLink").show();
                var newHref = "Default.aspx?id=" + getActiveDocumentId() + "&type=" + getActiveDocumentType();
                $("#aLastDocumentLink").attr("href", newHref);
            }
        }
        catch (ex) {
            // let the link stay hidden
        }
    });

    function linktoLastDocument() {
    }
</script>

</div>
