{#template MAIN}
<div class="tool-container">
    <h1>What Links Here</h1>

    <p>The What Links Here page displays Codification content that links to this Section. If the Section includes SEC content, the links to FASB content are segregated from the links to SEC content.</p>
            
    <p class="wlh-1">Links To FASB Content</p>
    <p class="wlh-2">Links To Section: 105 Generally Accepted Accounting Principles</p>
    <ul class="wlh-list">
        <li><a href="#">General Principles</a></li>
        <li><a href="#">Link Number 2</a></li>
        <li><a href="#">Link Number 3 Longer Example</a></li>
    </ul>
</div>
{#/template MAIN}