{#template MAIN}

<div class="helpEthics" id="top">


<h1>Help Topics</h1>

<p>This section provides information on using the various features and functions of the online AICPA Code of Professional Conduct. </p>

<p>A free password-protected account must be created to use certain features. When you try to use one of these features, if you are not already logged in you will be prompted to input your e-mail address and password. If you forget your password, you may have it e-mailed to you by selecting the "Forgotten Password" prompt.</p>

<p>To enhance the usability of the site, we recommend your screen resolution be set to a minimum of 1024 x 768 and, for optimal usage, we recommend 1280 x 1024. We also suggest you use a current version of your browser. If you are using Internet Explorer 9 or lower, the paragraph numbers will appear slightly above the paragraph content.</p>

<p>Additionally, the AICPA Code of Professional Conduct will timeout after 60 minutes of idle time. Once the system times out, you will need to restart the session to continue working. You will receive an alert message that your session is about to timeout. If no action is taken when you receive this message, your session will automatically end about 10 minutes later. If you click OK, your session will remain active.</p>

<p>Support is available from 9 a.m. to 6 p.m. Eastern time, Monday through Friday.</p>

<p>Phone: 1-888-777-7077 </p>

<p>E-mail: <a href="mailto:service@aicpa.org">service@aicpa.org</a></p>

<p>Please provide as much information as possible when contacting Customer Service for support, including:</p>

<ul>

<li>the exact error message you received, and specifically what you were doing when you received the error.</li>

<li>information on your system configuration, including browser version.</li>

</ul>

<p>If you have ethics inquiries, please send us an e-mail at <a href="mailto:ethics@aicpa.org">ethics@aicpa.org</a>.</p>

<hr />

<h1>Help Table of Contents</h1>

<div class="third">

    <h3><a href="#Features">Features</a></h3>
    
    <ul>
    
    <li><a href="#Features1">Pop-up Terms</a></li>
    
    <li><a href="#Features2">View Complete</a></li>
    
    <li><a href="#Features3">PDF Download</a></li>
    
    <!--<li><a href="#Features4">E-mail Links</a></li>
    
    <li><a href="#Features5">Bookmarks</a></li>
    
    <li><a href="#Features6">Notes</a></li>
    
    <li><a href="#Features7">Fonts</a></li>-->
    
    </ul>
    
    <h3><a href="#Navigating">Navigating the Site</a></h3>
    
    <ul>
    
    <li><a href="#Navigating1">Homepage</a></li>
    
    <li><a href="#Navigating2">Breadcrumb</a></li>
    
    <li><a href="#Navigating3">Table of Contents</a></li>
    
    <li><a href="#Navigating4">Search</a></li>
    
    <li><a href="#Navigating5">Opening a New Document</a></li>
    
    <li><a href="#Navigating6">Quick Find</a></li>
    
    <li><a href="#Navigating7">Back Button</a></li>
    
    <li><a href="#Navigating8">Next and Previous Buttons</a></li>
    
    <li><a href="#Navigating9">Printing</a></li>
    
    <li><a href="#Navigating10">E-mail</a></li>
    
    <li><a href="#Navigating11">Links</a></li>

	</ul>
</div>

<div class="third">

    <h3><a href="#Document">Working in a Document</a></h3>
    
    <ul>
    
    <li><a href="#Document1">Multiple Documents</a></li>
    
    <li><a href="#Document2">Tables and Images</a></li>
    
    <li><a href="#Document3">Copying and Pasting Text</a></li>
    
    <li><a href="#Document4">View Complete</a></li>
    
    <li><a href="#Document5">Adding and Editing Notes</a></li>
    
    </ul>
    
    <h3><a href="#Toolbar">Toolbar</a></h3>
    
    <ul>
    
    <li><a href="#Toolbar1">Home</a></li>
    
    <li><a href="#Toolbar2">My Library</a></li>
    
    <li><a href="#Toolbar3">Documents</a></li>
    
    <li><a href="#Toolbar4">Tools</a></li>
    
    <li><a href="#Toolbar5">Help</a></li>
    
    <li><a href="#Toolbar6">Feedback</a></li>
    
    <li><a href="#Toolbar7">Collapse Toolbar</a></li>
    
    <li><a href="#Toolbar8">Log Out</a></li>
	
    </ul>
    
</div>

<div class="third">

	<h3><a href="#Search">Search</a></h3>

    <ul>
    
    <li><a href="#Search1">Basic Search</a></li>
    
    <li><a href="#Search2">Advanced Search</a></li>
    
    <li><a href="#Search3">Boolean Operator Searches</a></li>
    
    <li><a href="#Search4">Navigating Search Results Within Documents</a></li>
    
    <li><a href="#Search5">Modifying and Saving Your Search</a></li>
	
    </ul>
    
</div>

<hr />

<h1 id="Features">Features <a href="#top"><b>Back to top »</b></a></h1>

<p>The online AICPA Code of Professional Conduct contains many unique features that allow you to explore the content in a customized way. </p>

<h2 id="Features1">Pop-up Terms</h2>

<p>Terms defined in the "Definitions" section [ET 0.400] of the Code of Professional Conduct appear throughout the Code in pop-up windows. To view a pop-up, place your curser over any term that appears in <a><i>blue italic</i></a> and the definition pop-up box will appear on your screen. If the definition is longer than the box, a scroll bar will appear on the right margin of the box so you can view the definition in its entirety.</p>

<img class="lg" src="images/help-ethics/glossary.png" alt="" />

<p>You can opt not to view the pop-up windows by selecting "Disable Definition Popup" under "Tools" at the bottom of your screen. This selection will remain until you either deselect the box or clear the "cookie" history in your browser history. </p>

<img class="lg" src="images/help-ethics/disable.png" alt="" />

<h2 id="Features2">View Complete</h2>

<p>Selecting "View Complete Topic" allows you to view all of the content of a particular topic — such as its rule and interpretations — on one scrollable screen rather than clicking through the pages using the "&lt;PREV" and "NEXT&gt;" buttons, visiting the Table of Contents, or using the breadcrumb dropdown menu. </p>

<img class="lg" src="images/help-ethics/view-complete.png" alt="" />

<p>Likewise, "View Complete Subtopic" allows you to view just the interpretations within a topic on one scrollable screen rather than clicking through a series of pages or using one of the site's other navigational tools. </p>

<h2 id="Features3">PDF Download</h2>

<p>The Code of Professional Conduct is available in its entirety as a PDF download. You are able to do this by selecting "Download Code of Professional Conduct PDF" from the AICPA Publications Resources list on the homepage,

<br /><img class="med" src="images/help-ethics/help-ethics-4.png" alt="" /><br />

or selecting "Download PDF of Code" from the bottom of your screen while in any section of the Code.</p>

<img class="lg" src="images/help-ethics/help-ethics-5.png" alt="" />

<hr />

<h1 id="Navigating">Navigating the Site  <a href="#top"><b>Back to top »</b></a></h1>

<p>There are many ways to navigate the online AICPA Code of Professional Conduct:</p>

<ul>
    
    <li><a href="#Navigating1">Homepage</a></li>
    
    <li><a href="#Navigating2">Breadcrumb</a></li>
    
    <li><a href="#Navigating3">Table of Contents</a></li>
    
    <li><a href="#Navigating4">Search</a></li>
    
    <li><a href="#Navigating5">Opening a New Document</a></li>
    
    <li><a href="#Navigating6">Quick Find</a></li>
    
    <li><a href="#Navigating7">Back Button</a></li>
    
    <li><a href="#Navigating8">Next and Previous Buttons</a></li>
    
    <li><a href="#Navigating9">Printing</a></li>
    
    <li><a href="#Navigating10">E-mail</a></li>
    
    <li><a href="#Navigating11">Links</a></li>

</ul>

<p>The following sections discuss the navigation features.</p>

<h2 id="Navigating1">Homepage</h2>

<p>The homepage is your first access to the information contained in the online AICPA Code of Professional Conduct. You may return to the homepage at any time by clicking on the home icon <img class="sm" src="images/help-ethics/help-ethics-6.png" alt="" />on the Breadcrumb (at the top of the site) or the toolbar (at the bottom of the site).</p>

<img class="lg" src="images/help-ethics/help-ethics-7.png" alt="" />

<p>Start by clicking on the "+" button. From there, follow the link for the Code. As you navigate deeper, you will notice that the Breadcrumb at the top of the page expands to include the higher-level pages you've navigated through, such as the Code overview and title page. To find the specific table of contents for the Code, click in the Code's Breadcrumb node to pull down the detail. See more about the <href="#BreadcrumbHelp">Breadcrumb by <a href="#Navigating2">clicking here</a>.</p>

<img class="med" src="images/help-ethics/help-ethics-4.png" alt="" />

<h2>AICPA Publications Resources</h2>

<p>The AICPA Publications Resources list on the right side of your page provides quick access to resources intended to help you find specific content:</p>

<li> <a href="#Navigating3"><b>Table of Contents</b></a>. This link takes you to the table of contents.</li>

<li> <a href="#Search2"><b>Advanced Search</b></a><b>. </b>This link will take you to the Advanced Search form.</li>

<li> <a href="#Navigating6"><b>Quick Find</b></a><b>. </b>This link will take you to the Quick Find tool.</li>

<li> <a href=""><b>Help</b></a><b>. </b>This link will take you to this help page.</li>

<li> <a href="#Features3"><b>Download Code of Professional Conduct PDF. </b></a> This link opens the AICPA Code of Professional Conduct as a downloadable PDF.</li>

<h2 id="Navigating2">Breadcrumb</h2>

<img class="lg" src="images/help-ethics/help-ethics-9.png" alt="" />

<p>The Breadcrumb function is located at the top of the site and is the primary navigation feature of the AICPA online Code of Professional Conduct. It serves as both a Breadcrumb and a table of contents. (A separate table of contents is also available. For additional details about the separate table of contents, <a href="#Navigating3">click here</a>.) The Breadcrumb will display (1) your current location, (2) the preceding documents in the hierarchy, and (3) the location(s) or document(s) that you can go to next.</p>

<p>As you navigate deeper into the content, a Breadcrumb link is added for each level that you move through. As additional levels are added, the preceding links will compress and only their icons will display. If you mouse over one of these compressed Breadcrumb links, it will expand. If you move the mouse off of the dropdown menu, it will compress again. </p>

<p>Each individual Breadcrumb link has an orange down arrow <img class="sm" src="images/help-ethics/help-ethics-10.png" alt="" />. Clicking on this arrow (or anywhere in the Breadcrumb node) will open a dropdown menu that consists of all of the next level documents within the hierarchy.</p>

<p>The Home button <img class="sm" src="images/help-ethics/help-ethics-6.png" alt="" /> will always appear at the far left of the Breadcrumb. Clicking on the button will take you to the homepage, and clicking on the orange down arrow <img class="sm" src="images/help-ethics/help-ethics-10.png" alt="" /> next to icon will give you a dropdown menu of the main sections on the homepage.</p>

<h2>Toolbar</h2>

<img class="lg" src="images/help-ethics/toolbar.png" alt="" />

<p> The toolbar is at the bottom of the site and consists of a horizontal list of tabs corresponding to sections of the site. Refer to the <a href="#Toolbar">"Toolbar" section</a> for more information. </p>

<h2 id="Navigating3">Table of Contents</h2>

<p>The table of contents is available from several areas on your screen, including the "Resources" section of the homepage, the "Tools" tab on the toolbar, and the top left of your screen once in the Code.</p>

<img class="lg" src="images/help-ethics/help-ethics-12.png" alt="" />

<p>When you first open the table of contents, it shows the top level of the AICPA Code of Professional Conduct. Click the "+" button next to the heading in the table of contents to expand the list and reveal subheadings and the "–" button next to the headings in the table of contents to collapse the list and hide subheadings. You may view a document by clicking the document name in the table of contents.</p>

<p>To synchronize the table of contents with the current document you have open, click on the "SYNC TOC" button at the top of the table of contents. To return to the document you were previously viewing, select the "Return to Document" button.</p>

<h2 id="Navigating4">Search</h2>

<p>Search is an excellent way to find the content you need. The online AICPA Code of Professional Conduct includes basic and advanced search options, the ability to refine your searches in several different ways, and a saved search function. Refer to the <a href="#Search">"Search"</a> section for more information. </p>

<h2 id="Navigating5">Opening a New Document</h2>

<p>To open a new document, simply click "Documents" tab in the toolbar. Buttons corresponding to documents you already have open will appear along with a "+" button. Click the "+" button. You will then have four options to start a new document (see the image below):</p>

<ul>

<li> Starting at the same location as your current document</li>

<li> Performing a new search</li>

<li> Using the Quick Find tool</li>

<li> Starting at the homepage</li>

</ul>

<img class="lg" src="images/help-ethics/new-doc.png" alt="" />

<p>In addition, clicking on any link in the Table of Contents (accessible from the homepage and the toolbar) will open a new document as will clicking the "new document" icon to the right of any link.</p>

<p>Up to 10 documents may be open at one time. If you attempt to open more than 10 documents, you will be prompted to close some of the documents you already have open.</p>

<h2 id="Navigating6">Quick Find</h2>

<img class="lg" src="images/help-ethics/help-ethics-14.png" alt="" />

<p>Selecting "Quick Find" from the AICPA Publications Resources listing on the home page will allow you to easily locate guidance in the Code of Professional Conduct. Select the part of the Code that you are interested in viewing (that is, Preface, Part 1, Part 2, Part 3, Appendixes) and then select the topic from the resulting list. You will automatically be taken to the selected topic in that part of the Code of Professional Conduct.</p>

<h2 id="Navigating7">Back Button</h2>

<h3>Browser Back Button</h3>

<p>Using your browser's back button in the online AICPA Code of Professional Conduct could cause you to logout. You may receive a message when using your browser's back button.</p>

<h3>Application Back Button</h3>

<img class="sm2" src="images/help-ethics/help-ethics-15.png" alt="" />

<p>Use the "Back" button within the application to go back to your previous location. The "Back" button is located at the top far right side of your screen.</p>

<h2 id="Navigating8">Next and Previous Buttons </h2>

<img class="sm3" src="images/help-ethics/help-ethics-16.png" alt="" />

<p>To move to previous and next pages in the Code, click on the "Prev" and "Next" buttons on the top left of your screen. No "Next" button will display if you have reached the end of a document. Likewise, no "Prev" button will display if you are on the title page of the start of the Code.</p>

<h2 id="Bookmarks">Bookmarks</h2>

<p>When you are within the Code, you will see the Add Bookmark button in the top left of the document area. </p>

<img class="sm2" src="images/help-ethics/help-ethics-17.png" alt="" />

<p>Clicking that button will bring up a sign in page if you are not already logged in. Once you log in, you can add a bookmark to that section. When you've added a bookmark, you will notice that the button changes from "Add Bookmark" to "Delete Bookmark."</p>

<img class="lg" src="images/help-ethics/delete-bookmark.png" alt="" />

<p>To access your bookmarks, click the My Bookmarks button in the Tools section of the toolbar.</p>

<img class="" src="images/help-ethics/help-ethics-19.png" alt="" />

<p>Here, you can delete bookmarks or go to the bookmarked section. Click on the link or the new document icon to go to your bookmarked content.</p>

<h2 id="Navigating9">Printing </h2>

<p>You have two options for printing a document. You can click the "Print" button at the top left of your document screen or click the print icon in the "Tools" section of the toolbar.</p>

<p>Both of those options will bring up a preview screen:</p>

<img class="lg" src="images/help-ethics/print.png" alt="" />

<p>To print the current section you are viewing, click the "Print" button. To create a PDF instead of printing, select the "print PDF" option. The "Print related subpages" option allows you to print not only the document you are viewing, but any related subpages as well.</p>

<p>The Code also is available in its entirety as a PDF download. See the "Features" section of this document for more information. </p>

<h2 id="Navigating10">E-mail</h2>

<img class="sm2" src="images/help-ethics/help-ethics-21.png" alt="" />

<p>To share the document you are viewing, click on the e-mail icon. A new window will open your e-mail and automatically populate it with a link to the page you are viewing.</p>

<h2 id="Navigating11">Links</h2>

<img class="sm2" src="images/help-ethics/help-ethics-22.png" alt="" />

<p>The link button allows you to create a link to the page you are viewing. Select the link icon on the upper toolbar and copy and paste the url into an e-mail or document. </p>

<p>For most links within the Code, you have the option of opening a link in the default document or opening it in a new document. To open the link in a new document, click on the icon next to the link text.</p>

<p>Links from a landing page or to an external website will automatically open in a new document.</p>

<p>Up to 10 documents may be open at one time. If you attempt to open more than 10 documents, you will be prompted to close some of the documents you already have open.</p>

<hr />

<h1 id="Document">Working in a Document  <a href="#top"><b>Back to top »</b></a></h1>

<p>To work in a document, open the document using any of the navigational features shown in the "Navigating the Site" section above. Some features that may be useful when working in a document include the following:</p>

<ul>
    
    <li><a href="#Document1">Multiple Documents</a></li>
    
    <li><a href="#Document2">Tables and Images</a></li>
    
    <li><a href="#Document3">Copying and Pasting Text</a></li>
    
    <li><a href="#Document4">View Complete</a></li>
    
    <li><a href="#Document5">Adding and Editing Notes</a></li>
    
</ul>

<h2 id="Document1">Multiple Documents  </h2>

<img class="lg" src="images/help-ethics/multi-docs.png" alt="" />

<p>The documents tab in the toolbar shows the current documents you have open. You may have up to 10 documents open at one time. Each document is represented by a tab labeled with the first few words of the title of the document. You may switch back and forth between documents by clicking the desired tab. You may also close any of the open documents by clicking the "x" button located on the right side of each document tab.</p>

<h2 id="Document2">Tables and Images  </h2>

<img class="sm" src="images/help-ethics/help-ethics-24.png" alt="" />

<p>There are tables and images included in the AICPA Code of Professional Conduct. This icon appears at the top left of each table or image. If you wish to minimize the table for ease of use, click that icon. Click again to restore the table or image to full size. The text you see when a table or image is minimized is a default and does not reflect the content of that specific table or image.</p>

<h2 id="Document3">Copying and Pasting Text  </h2>

<p>As you view content in the online AICPA Code of Professional Conduct, you may find information that would be useful to include in a report or documentation. To save a selection of text, use your browser functions to select the section of content, copy it, and paste it into a new document.</p>

<h2 id="Document4">View Complete</h2>

<p>See the "<a href="#Features">Features</a>" section of this document for information on "View Complete" functionality.</p>

<h2 id="Document5">Adding and Editing Notes  </h2>

<img class="sm" src="images/help-ethics/help-ethics-25.png" alt="" />

<p>You can add one or more notes to content wherever you see the "Add New Note" icon. Simply click on the note icon and sign in. You'll then be able to type in a title and the body of your note, and click "Save." After you've saved a note, you will notice a "View/Edit" link to the right of the "Add New Note" link. Clicking the "Add New Note" link again, will allow you to add another note to the same content. You can add as many notes as you wish to a content area.</p>

<p>You have two options for viewing and editing your notes. </p>

<p>1. If you click "View/Edit," you will see the list of notes you've added to that content area.</p>

<p>2. You can also view and edit all notes that you've saved throughout your subscription by clicking the "Tools" button and then clicking "My Notes." You will see the title of each of your notes, as well as the location of each note. Here you can view, edit, or delete notes. Clicking a note location will take you directly to the content area where the note is attached.</p>

<hr />

<h1 id="Toolbar">Toolbar  <a href="#top"><b>Back to top »</b></a></h1>

<img class="lg" src="images/help-ethics/toolbar.png" alt="" />

<p>The toolbar, which is always located at the bottom of the AICPA Code of Professional Conduct, provides easy access to documents that you have open, tools, and this help section. The tabs of the toolbar are described below. By clicking on any of these tabs, a new set of links will appear providing you with options to choose from. You may choose to expand and collapse your toolbar by clicking the button on the far right side of the toolbar.</p>

<h2 id="Toolbar1">Home  </h2>

<p>Clicking the home icon will take you back to the online AICPA Code of Professional Conduct homepage.</p>

<h2 id="Toolba2r">My Library  </h2>

<p>This tab displays the AICPA Code tile, which, when selected, will take you back to the title page.</p>

<h2 id="Toolbar3">Documents  </h2>

<img class="lg" src="images/help-ethics/multi-docs.png" alt="" />

<p>This tab displays the documents that you have open and provides access to begin a new document.</p>

<h2 id="Toolbar4">Tools  </h2>

<img class="lg" src="images/help-ethics/disable.png" alt="" />

<p>This tab displays the available tools.</p>

<br />

<p><b>Table of Contents</b>: Refer to the <a href="#Navigating3">"Table of Contents"</a> section under the "Navigating the Site" section for more information.</p>

<p><b>Quick Find:</b> Refer to the <a href="#Navigating6">"Quick Find"</a> section under the "Navigating the Site" section for more information.</p>

<p><b>Document Fonts:</b> Change the font face and size to suit your preference.</p>

<p><b>Saved Searches:</b> Refer to the <a href="#Search">"Search"</a> section for more information on saved searches.</p>

<p><b>My Notes:</b> Refer to the <a href="#Document5">"Notes"</a> section for more information on working with notes.</p>

<p><b>My Bookmarks:</b> Refer to the <a href="#Bookmarks">"Bookmarks"</a> section for more information on using bookmarks.</p>

<p><b>Disable Definition Popup</b>: Refer to <a href="#Features">"Features"</a> section for more information on the pop-up terms.</p>

<br />

<h2 id="Toolbar5">Help  </h2>

<img class="lg" src="images/help-ethics/help.png" alt="" />

<p>This tab provides access to this help section.</p>

<h2 id="Toolbar6">Feedback</h2>

<p>If you have feedback about the site or Code, selecting "Feedback" will open an e-mail to the Ethics Team at <a href="mailto:ethics@aicpa.org">ethics@aicpa.org</a>. Please allow 24 hours for a response.</p>

<h2 id="Toolbar7">Collapse Toolbar</h2>

<p>Select "Collapse Toolbar" if you'd like to close and/or hide any tiles that have appeared from selecting any items in the toolbar itself.</p>

<h2 id="Toolbar8">Log Out</h2>

<p>Select "log out" to log out from the site.</p>

<hr />

<h1 id="Search">Search  <a href="#top"><b>Back to top »</b></a></h1>

<p>The following sections help you take advantage of the available search tools.</p>

<ul>
    
    <li><a href="#Search1">Basic Search</a></li>
    
    <li><a href="#Search2">Advanced Search</a></li>
    
    <li><a href="#Search3">Boolean Operator Searches</a></li>
    
    <li><a href="#Search4">Navigating Search Results Within Documents</a></li>
    
    <li><a href="#Search5">Modifying and Saving Your Search</a></li>
	
</ul>

<h2 id="Search1">Basic Search</h2>

<p>The basic search box enables you to do single or multiple word searches.</p>

<img class="lg" src="images/help-ethics/help-ethics-30.png" alt="" />

<ul>

<li> Enter the word(s) you want to search for and click the magnifying glass icon.</li>

<li> The following will display: 
    <ul>
    <li>A list of sections of the Code and the number of search results in each section. This list may be used to refine your results to a specific subsection of the Code. For further details on this feature <href="#SearchResults">click here</a>.</li>
    
    <li>The advanced search feature, which enables you to do more precise searching. A list of results for your search term. Click the title of the desired result to view the text of the document.</li>
    </ul></li>

<li> Once in a document, you are easily able to return to your current search results by clicking the "Results" button.</li>

<li> To return to the content you were viewing prior to starting your search, click the "Back" button located next to the "Results" button.</li>

</ul>

<h2 id="Search2">Advanced Search </h2>

<p>The advanced search enables you to perform a focused search by selecting from a list of options. The advanced search can be reached from several places, including the "Advanced Search" button at the top of your document area, the "Resources" section of the homepage and from the "+" sign under the "Documents" tab on the toolbar.</p>

<img class="lg" src="images/help-ethics/help-ethics-31.png" alt="" />

<ul>

<li> Enter the word or phrase that you want to search for. </p>

<li> Select whether you want to search for "All Words," "Any Words," "Exact Phrase," or "Boolean Search".

<ul>
<li> <i>All Words</i> - Each word must be present in the document to return a hit result. </li>

<li> <i>Any Words</i> - At least one of the words must be present to return a hit result. </li>

<li> <i>Exact Phrase</i> - All words must be present in the same order that you have typed them in to return a hit result. </li>

<li> <i>Boolean Search</i> - Allows you to refine your queries to focus on more specific or more general information than may be found with a single word or phrase search. Click <href="#Boolean">here</a> for more details on Boolean searching. </li>
</ul>
</li>

<li> You have the option to narrow your search to a specific section of the Code. To do so, select the desired "collection" from the dropdown menu. </p>

<li> Select whether you want to show excerpts in context of the document in your search results. If you do not want excerpts to display, de-select the box for "Show Excerpts." </p>

<li> Click the "Search" button to perform the search. </p>

<li> A list of results will be displayed. Click the title of the desired result to view the text of the document. </li>

</ul>

<h2 id="Search3">Boolean Operator Searches </h2>

<p>The Boolean operators allow you to refine your queries to focus on more specific or more general information than may be found with a single word or phrase search.</p>

<p>Boolean operators require a word or phrase on either side of the operator. For example, <b>dog or cat</b> is a valid query, but <b>or cat dog</b> is not. The exception is the <i>not</i> operator. The not operator can be used before a term and still be valid. For example, <b>not cat dog</b> returns the same result as <b>dog not cat</b>. There are three Boolean operators that you can use in the AICPA Online Professional Library: and, or, not. See <href="#OperatorPrecedence"><b>Operator precedence</b></a> for a discussion of the precedence (order of execution) of these operators and how to override the precedence. </p>

<p<b>And</b><br />
Use the And operator to search for multiple words in the same document. </p>

<p>The And operator may be specified in either of two ways: a single space between words or the word <b>and</b>.</p>

<table border="1" cellspacing="0" cellpadding="0" width="90%" > 
<tbody>
<tr>
<td><p><b>Query</b></p></td>
<td><p><b>Explanation</b></p></td>
</tr>

<tr>
<td><p>view codes<br />
view and codes </p></td>
<td><p>Finds all documents that contain both view and codes </p></td>
</tr>

<tr>
<td><p>accountant AND attorney and doctor </p></td>
<td><p>Finds all documents that contain accountant, attorney, and doctor </p></td>
</tr>

</tbody>
</table>

<p><br />
<b>Or</b>

<p>Use the Or operator to search for multiple words in the document collection (the words may or may not be in the same document).</p>

<p>The Or operator is specified using the word <b>or</b>.</p>

<table border="1" cellspacing="0" cellpadding="0" width="90%" > 
<tbody>
<tr>
<td><p><b>Query</b></p></td>
<td><p><b>Explanation</b></p></td>
</tr>

<tr>
<td><p>view or codes </p></td>
<td><p>Finds all documents that contain either view or codes (may contain both) </p></td>
</tr>

<tr>
<td><p>accountant or attorney and doctor </p></td>
<td><p>Finds all documents that contain accountant and either attorney or doctor (or both attorney and doctor) (See Operator precedence for additional explanation on these results) </p></td>
</tr>

</tbody>
</table>

<p><b>Not</b><br />
Use the Not operator to search for documents that do not contain a particular term or set of terms. Not is actually a unary operator (it can be used by itself), but it is often used in between two terms (find documents that contain A but not B). </p>

<p>Generally, the best way to think of the Not operator when used between two terms (A not B) is "find documents with A and find documents without B" (A and not B). </p>

<p>The Not operator is specified using the word <b>not</b>. </p>

<table border="1" cellspacing="0" cellpadding="0" width="90%" > 
<tbody>
<tr>
<td><p><b>Query</b></p></td>
<td><p><b>Explanation</b></p></td>
</tr>

<tr>
<td><p>view not codes </p></td>
<td><p>Finds all documents that contain view but that do not contain codes </p></td>
</tr>

<tr>
<td><p>not account </p></td>
<td><p>Finds all documents that do not contain account </p></td>
</tr>

</tbody>
</table>

<p><b>Operator precedence</b><br />
The query operators have a precedence order. That is, when two more operators are used in a query, the results of one operator will be evaluated before another operator. Understanding the precedence -- and how to override the precedence -- can assist you in finding the information you need. </p>

<p>The operator precedence is: <b>Not, And, Or<br />
</b>If the same operators are used in a query (for example, if Or appears twice in a query), the operators are evaluated from left-to-right. </p>

<h2>Viewing and Refining Your Search Results  </h2>

<p>At the top of the Search Results page, you will see results from each section of the Code specified in your search. Use these links to narrow your results to a specific topic or subtopic. You will be able to narrow your results even further when you drill down. As you drill down, the search results will automatically reflect the narrowing of your results. </p>

<img class="lg" src="images/help-ethics/search.png" alt="" />

<p>The rest of the page shows your results by section within topics or subtopics. For example, the first result in the search above is "1.000.010 Conceptual Framework for Members in Public Practice." You can click the title to go directly to that section or you can click the "+" icon next to the title to open the "Hit Details" box. This will show the subsections of that section and the number of search results within each subsection, as shown below. </p>

<img class="lg" src="images/help-ethics/search2.png" alt="" />

<h2 id="Search4">Navigating Search Results Within Documents  </h2>

<p>After clicking into a document that contains your search query, use the gray "Search Hits" box on the top right of the screen to navigate through the search hits. Each hit will be highlighted in the text.</p>

<img class="lg" src="images/help-ethics/search3.png" alt="" />

<img class="" src="images/help-ethics/search4.png" alt="" />

<p>The "Prev" and "Next" buttons will take you to the previous and next hits within the document you are viewing. Use the ≤ and ≥ buttons in the "Search Hits" box to navigate to the previous and next documents that contain your search term. (The previous and next documents are in the same order they appeared in the search results.)</p>

<p>Once you've located your desired hit, clicking the "X" in the "Search Hits" box will close the box and keep your current document open. </p>

<h2 id="Search5">Modifying and Saving Your Search <a href="#top" style="float:right;"><b>Back to top »</b></a></h2>

<p>To modify your search, enter your new search words and options in the form above the search results and click the "Update Search" button. To save your search, click the "Save Search" button, then enter the desired title in the pop-up box. When you click "Submit," the current search results will be saved.</p>

<p>Saved searches are retrievable from the Tools menu of the toolbar. This feature lists all of your saved searches by title and allows you to access the saved search results by clicking on a title. You can also rename or delete any of your saved searches. </p>

</div>

{#/template MAIN}
