<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings>
    <add key="DevLogin_Master_Subscription" value="emap~proflitplus;fasb;gasb~abm~ebp-att~ara-iet;pra-gao;pra-sec~fvscollection~ifrs-afr~pra-ssae~coso-int~pra-arm~pra-fcm~npo-att~aag-sop~pra-sqcs~iatglobal~pra-aso~arat~pra-rps~ara-sme~frf-sme~ras-isa" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DbConnectionString" value="Password=Kn0wlys1s;Persist Security Info=True;User ID=sa;Initial Catalog=nfdev_opl;Data Source=2k8sql8wgd" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="c2bWebReferenceUrl" value="https://QCams.aicpa.org/xWeb/secure/AICPAOPLWS.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Book_ContentFolder" value="c:\Destroyer_Content_Indexing_Staging\commonDevBooks\"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AicpaEncryptionKey" value="One never realized how much Steve Job shaped our life until we can't do wihtout those pots and pans, and now the cloudy weather!!" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>