<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	<connectionStrings>
		<add name="AICPA.Destroyer.Properties.Settings.sdox_commondev_mainConnectionString"
            connectionString="Data Source=nc-sql2k8;Initial Catalog=Destroyer;User ID=cfusion;Password=Aicpaodp01;Persist Security Info=True"
            providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	  <identity impersonate="true" userName="aicpainc\docuser" password="Aug2720!2" xdt:Transform="InsertAfter(/configuration/system.web/urlMappings)"/>
  </system.web>
	<appSettings>
		<add key="PortalApp_SiteStatus" value="Production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="DbConnectionString" value="Password=Aicpaodp01;Persist Security Info=True;User ID=cfusion;Initial Catalog=Destroyer;Data Source=nc-sql2k8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="Book_ContentFolder" value="\\nc-odp-web-prod\Content_Indexing\Books\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="Book_MakefileSchemaPath" value="\\nc-odp-web-prod\Content_Indexing\D_Makefile.xsd" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="ForumUrl" value="/Forum/pages/landingPage.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="SiteIndex_EndecaStagingHostname" value="NC-ODP-SEARCH-PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="SiteIndex_EndecaProductionHostname" value="nc-odp-search-prod"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="EndecaHostname" value="NC-ODP-SEARCH-PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="SiteStatus" value="Production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="PrintBaseUrl" value="http://2k8sdoxwgd:8080/MainUI/PrintDocument.ashx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="FvsDefaultDomains" value="emap~proflitplus;fasb;gasb~abm~ebp-att~ara-iet;pra-gao;pra-sec~pra-arm~pra-fcm~npo-att~aag-sop~pra-sqcs~iatglobal~pra-aso~arat~pra-rps"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="EthicsLoginUrl" value="http://pub.aicpa.org/ethics/resourceseamlesslogin.aspx?prod=ethics"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="EthicsUserLoginUrl" value="http://pub.aicpa.org/ethics/resourceseamlesslogin.aspx?prod=ethics"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="DefaultPageRedirect" value="ethics.aspx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="IsXmlUnderWebApp" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="XmlFile_HomePage" value="E:\WebFiles\XML\homePage.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="XmlFile_Taxonomy" value="E:\WebFiles\XML\Taxonomy.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="XmlFile_TipsAndTechniques" value="E:\WebFiles\XML\tipsAndTechniques.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="XmlFile_WhatsNew" value="E:\WebFiles\XML\whatsNew.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="XmlFile_SiteFolders" value="E:\WebFiles\XML\siteFolders.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="XmlFile_ValidSites" value="E:\WebFiles\XML\validreferrer.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="LMSHashSeed" value="barry sanders" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="ShouldReplacePrintBaseUrl" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="PrintBaseUrl" value="https://10.22.0.125/MainUI/PrintDocument.ashx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="FvsDefaultDomains" value="fvscollection" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="EthicsLoginUrl" value="http://pub.aicpa.org/codeofconduct/resourceseamlesslogin.aspx?prod=ethics" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="C2bLoginUrl" value="http://remauth.aicpa.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="RemoteLogoutUrl" value="http://www.aicpa.org/Auth/Logout.aspx?RAL=https://secureaicpa.okta.com/login/signout?fromURI=https://library.aicpa.org/logout" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
</configuration>