<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="AICPA.Destroyer.Properties.Settings.sdox_commondev_mainConnectionString" connectionString="Data Source=nc-sql2k8;Initial Catalog=Destroyer;User ID=cfusion;Password=Aicpaodp01" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAuthentication" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://raws.aicpa.org/Authentication.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthentication"
        contract="ServiceReference1.IAuthentication" name="WSHttpBinding_IAuthentication" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <!--<add key="SeamlessLoginPage" value="http://localhost:50543/SeamlessLogin.aspx"/>
            <add key="SeamlessLoginPage" value="http://odp.knowlysis.com:8080/MainUI/SeamlessLogin.aspx"/>
        -->
    <add key="SeamlessLoginPage" value="https://publication.cpa2biz.com/mainui/seamlesslogin.aspx"/>
    <add key="DefaultDomain" value="proflitplus"/>
    <add key="DefaultReferringSite" value="Mcgdy"/>
  </appSettings>
</configuration>