<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

    <appSettings>
        <add key="ShouldReplacePrintBaseUrl" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="PrintBaseUrl" value="http://2k8sdoxwgd/MainUI/PrintDocument.ashx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="DbConnectionString" value="Password=Kn0wlys1s;Persist Security Info=True;User ID=sa;Initial Catalog=sdox_commondev_main;Data Source=2k8sql8wgd" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="ForumUrl" value="/Forum/pages/landingPage.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="RemoveSearch" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        
        <add key="DevLogin_Master_Subscription" value="et-cod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

        <add key="EthicsLoginUrl" value="http://etpoc.knowlysis.com/resourceseamlesslogin.aspx?prod=ethics" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="EthicsDefaultDomains" value="et-cod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <!-- Setup Site Specific Information - EthicsUser -->
        <add key="EthicsUserLoginUrl" value="http://localhost:55868/resourceseamlesslogin.aspx?prod=ethics" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="EthicsUserDefaultDomains" value="et-cod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

        <add key="ProductName" value="Ethics" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="LoginPage" value="ethicslogin.aspx" xdt:Locator="Match(key)"/>             

        <add key="ProductName" value="AICPA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="LoginPage" value="ethicslogin.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="EncryptionKey" value="Kn0wlys1sS3cr3ts" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="XmlFile_Taxonomy" value="xml/EthicsTaxonomy.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>
</configuration>
