<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <!-- this setting allows us to impersonate a user that has filesystem access to remote servers -->
		<identity impersonate="true" userName="aicpainc\docuser" password="Aug2720!2" xdt:Transform="Insert"/>
    
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings>
    <add key="c2bRedirector" value="http://stagingenv.cpa2biz.com/myaccount/myonlinesubscription_resourceredirect.jsp"/>
    <add key="c2bAutoLogin" value="http://stagingenv.cpa2biz.com/login/signin.jsp"/>
    <add key="User_SecurityBypassDomain" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="DbConnectionString" value="Password=Aicpaodp01;Persist Security Info=True;User ID=cfusion;Initial Catalog=Destroyer;Data Source=nc-sql2k8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Book_ContentFolder" value="\\nc-odp-web-prod\Content_Indexing\Books\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Book_ResourceFolder" value="resources" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Book_MakefileSchemaPath" value="\\nc-odp-web-prod\Content_Indexing\D_Makefile.xsd" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ForumUrl" value="/Forum/pages/landingPage.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SiteIndex_EndecaStagingHostname" value="NC-ODP-SEARCH-STAGE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SiteIndex_EndecaStagingPort" value="15000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EndecaHostname" value="NC-ODP-SEARCH-STAGE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EndecaPort" value="15000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IsXmlUnderWebApp" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="XmlFile_HomePage" value="E:\WebFiles\XML\homePage.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="XmlFile_Taxonomy" value="E:\WebFiles\XML\Taxonomy.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="XmlFile_TipsAndTechniques" value="E:\WebFiles\XML\tipsAndTechniques.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="XmlFile_WhatsNew" value="E:\WebFiles\XML\whatsNew.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="XmlFile_SiteFolders" value="E:\WebFiles\XML\siteFolders.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

</configuration>