<?xml version="1.0"?>
<configuration>
  <!-- application specific settings -->
  <appSettings file="web_appSettings.config">
    <add key="configFile" value="~/PortalCfg.xml"/>
    <!-- *** BEGIN DESTROYER PORTAL SETTINGS *** -->
    <!-- <add key="PortalApp_SiteStatus" value="Staging"/> -->
    <add key="PortalApp_SiteStatus" value="Staging"/>
    <!-- *** END DESTROYER PORTAL SETTINGS *** -->
    <!-- *** BEGIN DESTROYER API SETTINGS *** -->
    <add key="SessionIdCheckTimeInSeconds" value="30"/>
    <add key="ApiSessionTimeoutInSeconds" value="3600"/>
    <add key="DefaultActionPermission" value="1024"/>
    <!-- *** NUMBER OF AAG/ARA TITLES OR CHK TITLES TO DISPLAY BEFORE HIDING THE ROLLUP TABLE *** -->
    <add key="RollUp_Count" value="3"/>
    <add key="InactiveAAGs" value="aag-fgc;aag-cir;aag-apc;aag-pfs"/>
    <!--<add key="c2bWebReferenceUrl" value="https://Demo1.cpa2biz.com/C2BSubscriptionService/SubscriptionService.asmx" />-->
    <!--  GAPP Functionality -->
    <add key="Site_Archive_Book_Id_List" value="faf-assets;faf-broadTransactions;faf-equity;faf-expenses;faf-industry;faf-liabilities;faf-masterGlossary;faf-noticeToConstituents;faf-presentation;faf-revenue"/>
    <add key="Site_Referencing_Links_Book_Id_List" value="faf-assets;faf-broadTransactions;faf-equity;faf-expenses;faf-industry;faf-liabilities;faf-masterGlossary;faf-noticeToConstituents;faf-presentation;faf-revenue"/>
    <add key="Site_Xref_Book_Id_List" value="faf-assets;faf-broadTransactions;faf-equity;faf-expenses;faf-industry;faf-liabilities;faf-masterGlossary;faf-noticeToConstituents;faf-presentation;faf-revenue"/>
    <add key="Site_JSection_Book_Id_List" value="faf-assets;faf-broadTransactions;faf-equity;faf-expenses;faf-industry;faf-liabilities;faf-masterGlossary;faf-noticeToConstituents;faf-presentation;faf-revenue"/>
    <add key="Site_Join_Topics_list" value="'faf-assets','faf-broadTransactions','faf-equity','faf-expenses','faf-industry','faf-liabilities','faf-presentation','faf-revenue'"/>
    <!-- Site XML filename used as input for Endeca builds -->
    <add key="SiteIndex_SiteXmlFilename" value="Destroyer_Site.xml"/>
    <!-- Endeca project folders -->
    <add key="SiteIndex_EndecaTemplateProjectFolder" value="\\Endeca\Destroyer_Content_Indexing\template_project"/>
    <add key="SiteIndex_EndecaStagingProjectFolder" value="\\Endeca\Destroyer_Content_Indexing\staging_project"/>
    <add key="SiteIndex_EndecaProductionProjectFolder" value="\\Endeca\Destroyer_Content_Indexing\production_project"/>
    <!-- Endeca relative file paths -->
    <add key="SiteIndex_EndecaPipelineRelativePath" value="data\forge_input\Pipeline.epx"/>
    <!-- Endeca navigation engine connection information -->
    <add key="SiteIndex_EndecaStagingHostname" value="action_desk"/>
    <add key="SiteIndex_EndecaStagingPort" value="8000"/>
    <add key="SiteIndex_EndecaProductionHostname" value="lobojr"/>
    <add key="SiteIndex_EndecaProductionPort" value="8000"/>
    <!-- Endeca site indexing service connection information -->
    <add key="SiteIndex_EndecaStagingDataIndexingServiceUrl" value="http://action_desk:8888/services/DataIndexing"/>
    <add key="SiteIndex_EndecaProductionDataIndexingServiceUrl" value="http://lobojr:8888/services/DataIndexing"/>
    <!-- Endeca site indexing service credentials (set in Endeca's tomcat-users.xml) -->
    <add key="SiteIndex_EndecaProductionDataIndexingServiceUsername" value="webservices"/>
    <add key="SiteIndex_EndecaStagingDataIndexingServiceUsername" value="webservices"/>
    <add key="SiteIndex_EndecaProductionDataIndexingServicePassword" value="webservices"/>
    <add key="SiteIndex_EndecaStagingDataIndexingServicePassword" value="webservices"/>
    <!-- *** END DESTROYER API SETTINGS *** -->
    <!-- Quick Find XML Location -->
    <add key="TaxonomyXmlLocation" value="~/xml/taxonomy.xml"/>
    <!-- ** Quick Find XML Location ** -->
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Password=Kn0wlys1s;Persist Security Info=True;User ID=sa;Initial Catalog=Portal;Data Source=fafstaging"/>
    <add name="DbConnectionString" connectionString="Password=Kn0wlys1s;Persist Security Info=True;User ID=sa;Initial Catalog=DestroyerStaging52008;Data Source=fafstaging"/>
    <add name="C2bConnectionString" connectionString="Password=Kn0wlys1s;Persist Security Info=True;User ID=sa;Initial Catalog=C2BImposter;Data Source=fafstaging"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <tagMapping>
        <add tagType="System.Web.UI.WebControls.ImageButton" mappedTagType="D_ODPPortalUI.Controls.BorderlessImageButton"/>
      </tagMapping>
    </pages>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>