<appSettings>
  <add key="ConnectionString" value="Password=Kn0wlys1s;Persist Security Info=True;User ID=sa;Initial Catalog=Portal;Data Source=fafstaging"/>
  <add key="DbConnectionString" value="Password=Kn0wlys1s;Persist Security Info=True;User ID=sa;Initial Catalog=DestroyerStaging52008;Data Source=fafstaging"/>
  <add key="C2bConnectionString" value="Password=Kn0wlys1s;Persist Security Info=True;User ID=sa;Initial Catalog=C2BImposter;Data Source=fafstaging"/>

  <add key="c2bWebReferenceUrl" value="https://66.243.40.91/C2BSubscriptionService/SubscriptionService.asmx"/>

  <add key="Book_ContentFolder" value="\\fafstaging\c\Destroyer_Content_Indexing\books"/>
  <add key="Book_ResourceFolder" value="resources"/>
  <add key="Book_MakefileSchemaPath" value="\\fafstaging\Destroyer_Content_Indexing\D_Makefile.xsd"/>

  <!-- sburton:  The next line bypasses the security model.  Comment it out if you want security -->
  <add key="User_SecurityBypassDomain" value="proflitplus;fasb;gasb"/>

</appSettings>
