USE [sdox_nightlybuild_Mike]
GO

/* InsertUser stored proc */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER       PROCEDURE [dbo].[D_InsertUser]
(
	@UserId uniqueidentifier,
	@ReferringSite varchar(16),
	@Email varchar(50)
)

AS

IF NOT EXISTS (SELECT * FROM D_User WHERE UserId = @UserId)
BEGIN
	INSERT INTO D_User (UserId, ReferringSite, Email) 
	VALUES (@UserId, @ReferringSite, @Email)
END
ELSE
BEGIN
	UPDATE D_User SET ReferringSite = @ReferringSite WHERE UserId = @UserId
END
RETURN
GO

/* GetUserLicenseFlag stored proc */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE       PROCEDURE [dbo].[D_GetUserLicenseFlag]
  	@UserId uniqueidentifier
AS

DECLARE @returnVal int

IF NOT EXISTS (SELECT * FROM dbo.D_User WHERE UserId = @UserId)
BEGIN
	SET @returnVal = 0;
END
ELSE
BEGIN
	SET @returnVal = 
		(SELECT LicenseAgreement
		FROM 	dbo.D_User
		WHERE 	UserId = @UserId);
END

SELECT @returnVal
GO

/* UpdateUserLicenseFlag stored proc */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE       PROCEDURE [dbo].[D_UpdateUserLicenseFlag]
  	@UserId uniqueidentifier,
  	@LicenseFlag int
AS

UPDATE dbo.D_User
SET LicenseAgreement = @LicenseFlag
WHERE UserId = @UserId

RETURN
GO

/* GetUserEmailAddress stored proc */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE       PROCEDURE [dbo].[D_GetUserEmailAddress]
  	@UserId uniqueidentifier
AS

DECLARE @returnVal varchar(50)

IF NOT EXISTS (SELECT * FROM dbo.D_User WHERE UserId = @UserId)
BEGIN
	SET @returnVal = NULL;
END
ELSE
BEGIN
	SET @returnVal = 
		(SELECT Email
		FROM 	dbo.D_User
		WHERE 	UserId = @UserId);
END

SELECT @returnVal
GO

/* SAMLGetUserByEmail stored proc */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[D_SAMLGetUserByEmail]
	@Email varchar(50)
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT [UserId] FROM D_User WHERE Email = @Email
END
GO
