USE [sdox_nightlybuild_Mike]
GO

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.D_User ADD
	ReferringSite varchar(16) NULL,
	Email varchar(50) NULL,
	LicenseAgreement int NOT NULL CONSTRAINT DF_D_User_LicenseAgreement DEFAULT 0
GO
ALTER TABLE dbo.D_User SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
