USE [sdox_nightlybuild_Mike]
GO

/* InsertUser stored proc */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER       PROCEDURE [dbo].[D_InsertUser]
(
	@UserId uniqueidentifier
)

AS

IF NOT EXISTS (SELECT * FROM D_User WHERE UserId = @UserId)
BEGIN
	INSERT INTO D_User (UserId) 
	VALUES (@UserId)
END
RETURN
GO

/* GetUserLicenseFlag stored proc */
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[D_GetUserLicenseFlag]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[D_GetUserLicenseFlag]
GO

/* UpdateUserLicenseFlag stored proc */
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[D_UpdateUserLicenseFlag]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[D_UpdateUserLicenseFlag]
GO

/* GetUserEmailAddress stored proc */
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[D_GetUserEmailAddress]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[D_GetUserEmailAddress]
GO

/* SAMLGetUserByEmail stored proc */
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[D_SAMLGetUserByEmail]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].D_SAMLGetUserByEmail
GO



