USE [sdox_nightlybuild_Mike]
GO

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.D_User
	DROP CONSTRAINT DF_D_User_LicenseAgreement
GO
ALTER TABLE dbo.D_User
	DROP COLUMN ReferringSite, Email, LicenseAgreement
GO
ALTER TABLE dbo.D_User SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
