<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

<!-- GOTO HTML (implemented in fafGoto.html)-->
        <div class="tool-container" align="center">
            <table cellpadding="0" cellspacing="5" style="font-size:12px">
                <tr>
                    <td colspan="2" align="left"><h4 class="nopad">Go To</h4></td>
                </tr>
                <tr>
                    <td colspan="2" align="left">Navigate directly to topics, subtopics, and sections</td>
                </tr>
                <tr>
                    <td colspan="2" height="20px" align="left">&nbsp;</td>
                </tr>
                <tr>
                    <td width="60px" align="left">Topic:</td>
                    <td align="left"  width="300">
                        <select id="topic">
                            <option value="1">105 - Generally Accepted Accounting Principles</option>
                            <option value="2">106 - Generally Accepted Accounting </option>
                            <option value="3">107 - Generally Accepted Accounting Principles</option>
                            <option value="1">108 - Generally Accepted Accounting </option>
                            <option value="2">108 - Generally Accepted Accounting Principles</option>
                            <option value="3">110 - Generally Accepted Accounting </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="left">Subtopic:</td>
                    <td align="left">
                        <select id="subTopic">
                            <option value="1">10 - Overall</option>
                            <option value="2">15 - Overall Again</option>
                            <option value="3">20 - Overall Third Stuff</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="left">Section:</td>
                    <td align="left">
                        <select id="section">                        
                            <option value="4294946395">00 - Status</option>
                            <option value="4294946394">10 - Overview and Background</option>
                            <option value="4294943819">15 - Glossary</option>
                            <option value="4294939499">20 - Another Section Here</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" height="10px" align="left">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-top:8px; border-top:1px solid #999;" align="right">
                    	<a href="#"><img src="images/btn-goto.gif" alt="Go To" border="0"/></a>
                    </td>
                </tr>                
            </table>        
        </div>


<!-- What Links Here HTML (implemented in fafLinks.html)-->
        <div class="tool-container">
            <h1>What Links Here</h1>

            <p>The What Links Here page displays Codification content that links to this Section. If the Section includes SEC content, the links to FASB content are segregated from the links to SEC content.</p>
            
            <p class="wlh-1">Links To FASB Content</p>
           	<p class="wlh-2">Links To Section: 105 Generally Accepted Accounting Principles</p>
            <ul class="wlh-list">
            	<li><a href="#">General Principles</a></li>
                <li><a href="#">Link Number 2</a></li>
                <li><a href="#">Link Number 3 Longer Example</a></li>
            </ul>
        </div>


<!-- Archive HTML (didn't need a template for this)-->
        <div class="tool-container">
            <h1>Archive</h1>

            <p>The Archive page provides links to current and all superseded Subsections that comprise the current Section. The date that precedes each Subsection is both the date it was issued and the date on which its previous version was archived (i.e., superseded).</p>
            
            <p class="wlh-1">Archive Links</p>
           	<!-- <p class="wlh-2">Links To Section: 105 Generally Accepted Accounting Principles</p> -->
            <ul class="wlh-list">
            	<li><a href="#">05-11-09 - General Principles</a></li>
                <li><a href="#">04-22-08 - Link Number 2</a></li>
                <li><a href="#">01-13-07 - Link Number 3 Longer Example</a></li>
            </ul>
        </div>


<!-- Cross Reference HTML -->
        <div class="tool-container" align="center">
            <table cellpadding="0" cellspacing="5" style="font-size:12px">
                <tr>
                    <td colspan="2" align="left"><h4 class="nopad">Cross Reference</h4></td>
                </tr>
                <tr>
                    <td colspan="2" align="left">Find the location of legacy content in the Codification</td>
                </tr>
                <tr>
                    <td colspan="2" height="10px" align="left">&nbsp;</td>
                </tr>
                <tr>
                    <td class="cr-title" colspan="2" align="left">By Standard</td>
                </tr>
                <tr>
                    <td width="60px" align="left">Type:</td>
                    <td align="left">
                        <select id="type">
                            <option value="1">AAG</option>
                            <option value="2">AIN</option>
                            <option value="3">APB</option>
                            <option value="4">ARB</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="left">Number:</td>
                    <td align="left">
                        <select id="number">
                            <option value="1">AIR(2003)</option>
                            <option value="2">AIN(2008)</option>
                            <option value="3">BRD(2008)</option>
                            <option value="4">CAS(2006)</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" height="30px" align="left"><b> &nbsp;&nbsp; OR</b></td>
                </tr>
                <tr>
                    <td class="cr-title" colspan="2" align="left">By Codification</td>
                </tr>
                <tr>
                    <td width="60px" align="left">Topic:</td>
                    <td align="left">
                        <select id="Select1">
                            <option value="1">105</option>
                            <option value="2">205</option>
                            <option value="3">210</option>
                            <option value="4">225</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="left">Subtopic:</td>
                    <td align="left">
                        <select id="Select2">
                            <option value="1">10</option>
                            <option value="2">11</option>
                            <option value="3">16</option>
                            <option value="4">20</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="left">Section:</td>
                    <td align="left">
                        <select id="Select3">                        
                            <option value="1">05</option>
                            <option value="2">10</option>
                            <option value="3">15</option>
                            <option value="4">20</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" height="10px" align="left">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-top:8px; border-top:1px solid #999;" align="right">
                    	<a href="#"><img src="images/btn-generate-report.gif" alt="Generate Report" border="0"/></a>
                        <a href="#"><img src="images/btn-clear.gif" alt="Clear" border="0"/></a>
                    </td>
                </tr>                
            </table>        
        </div>


<!-- Join Sections HTML (implemented in fafJoinSections.html)-->
        <div class="tool-container" align="center">
            <table cellpadding="0" cellspacing="5" style="font-size:12px">
                <tr>
                    <td colspan="3" align="left"><h4 class="nopad">Join Sections</h4></td>
                </tr>
                <tr>
                    <td colspan="3" align="left">Join all of the selected sections under a given topic.</td>
                </tr>
                <tr>
                    <td colspan="3" height="10px" align="left">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" class="cr-title" align="left">Required</td>
                    <td class="cr-title" align="left">Options</td>
                </tr>
                <tr>
                    <td width="60px" align="left">Topic:</td>
                    <td align="left">
                        <select id="Select4">
                            <option value="1">105 - Generally Accepted Accounting Principles</option>
                            <option value="2">106 - Generally Accepted Accounting </option>
                            <option value="3">107 - Generally Accepted Accounting Principles</option>
                            <option value="4">108 - Generally Accepted Accounting </option>
                            <option value="5">108 - Generally Accepted Accounting Principles</option>
                            <option value="6">110 - Generally Accepted Accounting </option>
                        </select>
                    </td>
                    <td align="left"><input type="checkbox" /> Include Intersection Subtopics</td>
                </tr>
                <tr>
                    <td align="left">Section:</td>
                    <td align="left">
                        <select id="Select5">
                            <option value="1">10 - Overall</option>
                            <option value="2">15 - Overall Again</option>
                            <option value="3">20 - Overall Third Stuff</option>
                            <option value="4">25 - Overall</option>
                            <option value="5">30 - Overall Again</option>
                            <option value="6">35 - Overall Third Stuff</option>
                        </select>
                    </td>
                    <td align="left">
                    	<input type="radio" name="section-options">FASB
                        <input type="radio" name="section-options">SEC 
                        <input type="radio" name="section-options">ALL  
                    </td>
                </tr>
                <tr>
                    <td colspan="3" height="10px" align="left">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3" style="padding-top:8px; border-top:1px solid #999;" align="right">
                    	<a href="#"><img src="images/btn-get-sections.gif" alt="Get Sections" border="0"/></a>
                    </td>
                </tr>                
            </table>        
        </div>



</body>
</html>
