    <div id="leftcol" class="col-sm-9">
        <div class="leftcol_inner">
            <div class="leftcol_header">
                <h1>Standards in Personal Financial Planning Services Compliance Toolkit</h1>
            </div>
            <div class="leftcol_content">                
                <div style="text-align:center;">
                    <img src="/images/pfp-splash.jpg" height="500" />
                    <div style="font-size:large"><b>The PFP Toolkit is now loading in a different window.</b></div>
                </div>
                <script>
                    window.open("/resources/pfptoolkit/pfptoolkit.htm", "_blank");
                    removeUnloadEvent();
                </script>                
            </div>
        </div>
    </div>

