{#template MAIN}
{*  My Library section in the new ODPRD 2015 Project *}
<a href="" class="top_level">
    <span class="icon">
        <img src="/elements/img/primary-nav-mobile-icon-sprite.png" alt=""/>
    </span>My Library
    <img class="arrow" src="/elements/img/primary-nav-top-arrow.png" alt="" /></a>
    <ul class="submenu">
        {#foreach $T.d as book}
            <li><a href="/content/link/{$T.book.TargetDoc}/{$T.book.TargetPointer}"><span>{$T.book.Title}<img src="/elements/img/primary-nav-double-arrow.png" alt="" /></span></a></li>
        {#/for}
    </ul>
{#/template MAIN}
