<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xdt:Transform="replace">
  <!-- Start OKTA PROVIDED Web.Config -->
    <configSections>
      <section name="eventlog" type="AICPA.Destroyer.Shared.XmlNodeConfigurationHandler, DestroyerAPI" />
      <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    </configSections>
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
      <authentication mode="None" />
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime requestValidationMode="4.5" targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <pages controlRenderingCompatibilityVersion="4.5" />
      <machineKey compatibilityMode="Framework45" />
    </system.web>
    <system.webServer xdt:Transform="Replace">
      <modules>
        <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
        <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      </modules>
    </system.webServer>
    <system.identityModel>
      <identityConfiguration>
        <audienceUris>
          <add value="http://raws.aicpa.org/okta"/>
        </audienceUris>
        <certificateValidation certificateValidationMode="None" />
        <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <trustedIssuers>
            <add thumbprint="9627532498f97b998c6d5d828f0f39d9d52bb645" name="Okta" />
          </trustedIssuers>
        </issuerNameRegistry>
      </identityConfiguration>
    </system.identityModel>
    <system.identityModel.services>
      <federationConfiguration>
        <!-- The requireHttps="false" setting is insecure and used for testing. This setting should not be used in production deployments. -->
        <wsFederation passiveRedirectEnabled="true" issuer="https://secureaicpa.okta.com/app/template_wsfed/sso/wsfed/passive" realm="urn:okta:app:exkedp88zeWsddNoE0y6" requireHttps="false" />
        <!-- The  requireSsl="false" setting is insecure and used for testing. This setting should not be used in production deployments. -->
        <cookieHandler requireSsl="false" />
      </federationConfiguration>
    </system.identityModel.services>    
    <!-- END OKTA PROVIDED Web.Config -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAuthentication" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://win2k12r2dc/SingleSignOnHelper/Authentication.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthentication"
        contract="ServiceReference1.IAuthentication" name="BasicHttpBinding_IAuthentication" />
    </client>
  </system.serviceModel>
  <eventlog>
    <event type="Error" level="5">
      <module name="Book" level="5">
        <method name="BookBuild" level="8" />
      </module>
      <module name="Site" level="5">
        <method name="SiteBuild" level="8" />
      </module>
      <module name="SiteIndex" level="5">
        <method name="SiteIndexBuild" level="8" />
      </module>
    </event>
    <event type="Info" level="5" />
    <event type="Usage" level="6">
      <module name="Document" level="4">
        <method name="GetContent" level="10" />
      </module>
      <module name="Site" level="4">
        <method name="GetBook" level="8" />
      </module>
      <!-- used by the D_UnitTester do not remove or test cases will fail -->
      <module name="CreateEvent" level="5">
        <method name="LogEvent_SpecificMethodSetting" level="10" />
        <method name="LogEvent_SpecificMethodSettingWithUser" level="10" />
        <method name="DO_NOT_LogEvent_SpecificMethodSetting" level="1" />
        <method name="DO_NOT_LogEvent_SpecificMethodSettingWithUser" level="1" />
      </module>
    </event>
  </eventlog>
  <appSettings>
    <add key="DbConnectionString" value="Password=Kn0wlys1s;Persist Security Info=True;User ID=sa;Initial Catalog=opl2015;Data Source=2k8sql8wgd" />
    <add key="SeamlessLoginPage" value="http://localhost:55870/ResourceSeamlessLogin.aspx"/>
    <add key="DebugDomain" value="pfpcollection~emap~proflitplus;fasb;gasb~abm~ebp-att~ara-iet;pra-gao;pra-sec~fvscollection~ifrs-afr~pra-ssae~coso-int~pra-arm~pra-fcm~npo-att~aag-sop~pra-sqcs~iatglobal~pra-aso~arat~pra-rps~ara-sme~frf-sme~ras-isa~cosocollection~coso-comp"/>
    <add key="ReferringSite" value="OKT"/>
    <!-- http://stackoverflow.com/questions/14607920/the-character-breaks-passwords-that-are-stored-in-the-web-config -->
    <add key="AicpaEncryptionKey" value="$Cp8-2-bi5Z_&amp;_RE-P!At4rm_s5yNk" />
  </appSettings>
  <connectionStrings>
    <add name="AICPA.Destroyer.Properties.Settings.sdox_commondev_mainConnectionString" connectionString="Data Source=2K8SQL8WGD;Initial Catalog=opl2015;User ID=sa;Password=Kn0wlys1s" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>