USE [sdox_nightlybuild_Mike]
GO

/* InsertNote stored proc*/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[D_InsertNote]
(
  	@UserId uniqueidentifier,
	@Text text,
	@LastModified datetime,
	@TargetDoc varchar(128),
	@TargetPtr varchar(256)
)

AS

INSERT INTO D_Note (UserId, NoteText, LastModifiedDate, TargetDoc, TargetPtr)
VALUES (@UserId, @Text, @LastModified, @TargetDoc, @TargetPtr);
SELECT @@IDENTITY
GO

/* UpdateNote stored proc*/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[D_UpdateNote]
(
	@NoteId int,
  	@NoteText text,
	@LastModified datetime
)

AS

UPDATE D_Note
SET NoteText = @NoteText, LastModifiedDate = @LastModified
WHERE NoteId = @NoteId;
GO

/* GetNoteById stored proc */
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[D_GetNoteById]
(
  @NoteId int
)

AS

SELECT	NoteId, UserId, NoteText, LastModifiedDate, TargetDoc, TargetPtr
FROM 	D_Note
WHERE 	NoteId = @NoteId;
GO

/* GetNoteByUserIdAndTargetDocPtr stored proc */
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[D_GetNoteByUserIdAndTargetDocPtr]
(
  @UserId uniqueidentifier,
  @TargetDoc varchar(128),
  @TargetPtr varchar(256)
)

AS

SELECT	NoteId, UserId, NoteText, LastModifiedDate, TargetDoc, TargetPtr
FROM 	D_Note
WHERE 	UserId = @UserId AND TargetDoc = @TargetDoc AND TargetPtr = @TargetPtr;
GO

/* GetNotesByUserId stored proc */
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[D_GetNotesByUserId]
(
  @UserId uniqueidentifier
)

AS

SELECT	NoteId, UserId, NoteText, LastModifiedDate, TargetDoc, TargetPtr
FROM 	D_Note
WHERE 	UserId = @UserId;
GO

/* DeleteNote stored proc */
SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[D_DeleteNote]
(
	@NoteId int
)

AS

DELETE FROM D_Note WHERE NoteId = @NoteId;
GO
