<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AICPA.Destroyer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings>
      <add key="ResourceSeamlessLoginURL" value="http://odp.knowlysis.com/MainUI/ResourceSeamlessLogin.aspx"/>
    </appSettings>
    <connectionStrings>
        <add name="AICPA.Destroyer.Properties.Settings.sdox_commondev_mainConnectionString" connectionString="Data Source=2K8SQL8WGD;Initial Catalog=opl2015;User ID=sa;Password=Kn0wlys1s" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AICPAOPLWSSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="AICPAOPLWSSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://internaltestams.aicpa.org/xWeb/secure/AICPAOPLWS.asmx" binding="basicHttpBinding" bindingConfiguration="AICPAOPLWSSoap" contract="netForumServices.AICPAOPLWSSoap" name="AICPAOPLWSSoap"/>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <AICPA.Destroyer.Properties.Settings>
            <setting name="DestroyerAPI_C2BSubscriptionWebService_SubscriptionService" serializeAs="String">
                <value>https://66.243.40.91/C2BSubscriptionServiceNew/SubscriptionService.asmx</value>
            </setting>
        </AICPA.Destroyer.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
